dcc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:dcc="https://dfm.dk"
           xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
           targetNamespace="https://dfm.dk"
           elementFormDefault="qualified">

    <xs:annotation>
        <xs:documentation>
            DCC - Digital Calibration Certificate
            Copyright (c) 2019 - 2023 Physikalisch-Technische Bundesanstalt and DFM

            This XML Scheme Definition (XSD) is free software: you can redistribute it and/or modify
            it under the terms of the GNU Lesser General Public License as published by
            the Free Software Foundation, version 3 of the License.

            This XSD is distributed in the hope that it will be useful,
            but WITHOUT ANY WARRANTY; without even the implied warranty of
            MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
            GNU Lesser General Public License for more details.

        </xs:documentation>
    </xs:annotation>

    <xs:element name="digitalCalibrationCertificate" type="dcc:digitalCalibrationCertificateType"/>

    <xs:complexType name="digitalCalibrationCertificateType">
        <xs:annotation>
            <xs:documentation>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="administrativeData" type="dcc:administrativeDataType"/>

            <xs:element name="measurementResults" type="dcc:measurementResultListType"/>

            <xs:element name="comment" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>


            <!--xs:element ref="ds:Signature" minOccurs="0" maxOccurs="unbounded"/-->


        </xs:sequence>

        <xs:attribute name="schemaVersion" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="1\.0\.0"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="administrativeDataType">
        <xs:annotation>
            <xs:documentation>
                The element administrativeData contains all essential administrative information about the calibration.
                The entries in this area are basically the same and regulated in all DCCs.
            </xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="dccSoftware" type="dcc:softwareListType"/>
            <xs:element name="coreData" type="dcc:coreDataType"/>
            <xs:element name="items" type="dcc:itemListType"/>
            <xs:element name="settings" type="dcc:settingListType" minOccurs="0"/>
            <xs:element name="calibrationLaboratory" type="dcc:calibrationLaboratoryType"/>
            <xs:element name="respPersons" type="dcc:respPersonListType"/>
            <xs:element name="customer" type="dcc:contactType"/>
            <xs:element name="statements" type="dcc:statementListType" minOccurs="0"/>
            <xs:element name="accreditation" type="dcc:accreditationType" minOccurs="0"/>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="softwareListType">
        <xs:annotation>
            <xs:documentation>
                A list of software elements.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="software" type="dcc:softwareType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="softwareType">
        <xs:annotation>
            <xs:documentation>
                Information about a software including its name, version and a description.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="name" type="dcc:textType"/>
            <xs:element name="release" type="dcc:notEmptyStringType"/>
            <xs:element name="type" minOccurs="0">
               <xs:simpleType>
                   <xs:restriction base="xs:string">
                       <xs:enumeration value="application" />
                       <xs:enumeration value="bios" />
                       <xs:enumeration value="driver" />
                       <xs:enumeration value="editor" />
                       <xs:enumeration value="firmware" />
                       <xs:enumeration value="library" />
                       <xs:enumeration value="os" />
                       <xs:enumeration value="other" />
                   </xs:restriction>
               </xs:simpleType>
           </xs:element>
            <xs:element name="description" type="dcc:richContentType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="optional"/>
    </xs:complexType>


    <xs:complexType name="coreDataType">
        <xs:annotation>
            <xs:documentation>
                Important metadata for the DCC containing the global unique identifier and other identifications.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="countryCodeISO3166_1" type="dcc:stringISO3166Type"/>
            <xs:element name="usedLangCodeISO639_1" type="dcc:stringISO639Type" maxOccurs="unbounded"/>
            <xs:element name="mandatoryLangCodeISO639_1" type="dcc:stringISO639Type" maxOccurs="unbounded"/>
            <xs:element name="uniqueIdentifier" type="dcc:notEmptyStringType"/>
            <xs:element name="customerIdentification" type="dcc:identificationType" minOccurs="0"/>
            <xs:element name="receiptDate" type="xs:date" minOccurs="0"/>
            <xs:element name="beginPerformanceDate" type="xs:date"/>
            <xs:element name="endPerformanceDate" type="xs:date"/>
            <xs:element name="performanceLocation" type="dcc:performanceLocationType"/>
            <xs:element name="issueDate" type="xs:date" minOccurs="0"/>            
            <xs:element name="previousReport" type="dcc:hashType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:simpleType name="notEmptyStringType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[^\s]+(\s+[^\s]+)*"/>
        </xs:restriction>
    </xs:simpleType>


    <xs:complexType name="itemListType">
        <xs:annotation>
            <xs:documentation>
                This element is a set of calibrated items.
                Contains one or more item elements.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="equipment" type="dcc:equipmentType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="equipmentType">
        <xs:annotation>
            <xs:documentation>
                Equipment: I.e. Items under test and reference equipment.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
        <xs:element name="heading" type="dcc:stringWithLangType" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="manufacturer" type="xs:string" minOccurs="0"/>
        <xs:element name="productName" type="xs:string" minOccurs="0"/>
        <xs:element name="productNumber" type="xs:string" minOccurs="0"/>
        <xs:element name="identification" type="dcc:identificationType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="category"  use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="item"/>
                        <xs:enumeration value="reference"/>
                    </xs:restriction>
                </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="equipId" type="xs:ID" use="required"/>
    </xs:complexType>

    <xs:complexType name="identificationType">
        <xs:annotation>
            <xs:documentation>
                Identification: I.e. serial number or identification number.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
        <xs:element name="heading" type="dcc:stringWithLangType" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="value" type="xs:string" minOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="issuer" >
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="owner"/>
                        <xs:enumeration value="manufacturer"/>
                        <xs:enumeration value="calibrationLaboratory"/>
                    </xs:restriction>
                </xs:simpleType>
        </xs:attribute>
    </xs:complexType>


    <xs:complexType name="performanceLocationType">
        <xs:annotation>
            <xs:documentation>
                This type contains information about the location where the the calibration is performed.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="dcc:stringPerformanceLocationType">
                <xs:attribute name="id" type="xs:ID" use="optional"/>
                <xs:attribute name="refId" type="xs:IDREFS" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:simpleType name="stringPerformanceLocationType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="laboratory"/>
            <xs:enumeration value="customer"/>
            <xs:enumeration value="laboratoryBranch"/>
            <xs:enumeration value="customerBranch"/>
            <xs:enumeration value="other"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="calibrationLaboratoryType">
        <xs:annotation>
            <xs:documentation>
                Information about the calibration laboratory.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="calibrationLaboratoryCode" type="dcc:notEmptyStringType" minOccurs="0"/>
            <xs:element name="contact" type="dcc:contactType"/>		
            <xs:element name="cryptElectronicSeal" type="xs:boolean" minOccurs="0"/>
            <xs:element name="cryptElectronicSignature" type="xs:boolean" minOccurs="0"/>
            <xs:element name="cryptElectronicTimeStamp" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="respPersonListType">
        <xs:annotation>
            <xs:documentation>
                List of responsible persons for a DCC.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="respPerson" type="dcc:respPersonType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="respPersonType">
        <xs:annotation>
            <xs:documentation>
                A person responsible for a DCC.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="person" type="dcc:contactType"/>
            <xs:element name="description" type="dcc:richContentType" minOccurs="0"/>
            <xs:element name="role" type="dcc:notEmptyStringType" minOccurs="0"/>
            <xs:element name="mainSigner" type="xs:boolean" minOccurs="0"/>
            <xs:element name="cryptElectronicSeal" type="xs:boolean" minOccurs="0"/>
            <xs:element name="cryptElectronicSignature" type="xs:boolean" minOccurs="0"/>
            <xs:element name="cryptElectronicTimeStamp" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="optional"/>
    </xs:complexType>

    <xs:complexType name="settingListType">
        <xs:annotation>
            <xs:documentation>
                List of settings attached to a DCC.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="setting" type="dcc:settingType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="settingType">
        <xs:sequence>
            <xs:element name="heading" type="dcc:stringWithLangType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="body" type="dcc:stringWithLangType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="countryCodeISO3166_1" type="dcc:stringISO3166Type" minOccurs="0"
                        maxOccurs="unbounded"/>
            <xs:element name="value" type="xs:decimal" minOccurs="0"/>
            <xs:element name="unit" type="dcc:notEmptyStringType" minOccurs="0"/>
	</xs:sequence>
        <xs:attribute name="settingId" type="xs:ID" use="optional"/>
        <xs:attribute name="refId" type="xs:IDREFS" use="optional"/>
    </xs:complexType>

    <xs:complexType name="statementListType">
        <xs:annotation>
            <xs:documentation>
                List of statements attached to a DCC.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="statement" type="dcc:statementType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="statementType">
        <xs:sequence>
            <xs:element name="category" type="dcc:statementCategoryType" minOccurs="0"/>
            <xs:element name="heading" type="dcc:stringWithLangType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="body" type="dcc:stringWithLangType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
        <xs:attribute name="statementId" type="xs:ID" use="required"/>
    </xs:complexType>

    <xs:simpleType name="statementCategoryType">
        <xs:annotation>
            <xs:documentation>
            </xs:documentation>
        </xs:annotation>
            <xs:restriction base="xs:string">
                <xs:enumeration value="method" /> 
                <xs:enumeration value="general" /> 
                <xs:enumeration value="exception" /> 
                <xs:enumeration value="traceability" /> 
                <xs:enumeration value="attention" /> 
                <xs:enumeration value="comment" /> 
                <xs:enumeration value="accreditation" /> 
                <xs:enumeration value="accreditationException" /> 
                <xs:enumeration value="norm" /> 
            </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="tableType">
        <xs:annotation>
            <xs:documentation>
                This type is for arranging any measurement data that can be arranged into a table with rows and columns
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="name" type="dcc:textType" minOccurs="0"/>
            <xs:element name="description" type="dcc:richContentType" minOccurs="0"/>
            <xs:element name="column" type="dcc:columnType" minOccurs="1" maxOccurs="unbounded">
        </xs:element>
        </xs:sequence>
        <xs:attribute name="itemRef" type="xs:IDREFS" use="required"/>
        <xs:attribute name="settingRef" type="xs:IDREFS" use="required"/>
        <xs:attribute name="statementRef" type="xs:IDREFS" use="optional"/>
        <xs:attribute name="tableId" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="measurementResultListType">
        <xs:annotation>
            <xs:documentation>
                List of measurement results that are part of a DCC.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="measurementResult" type="dcc:measurementResultType" maxOccurs="unbounded" minOccurs="0">
            <xs:unique name="table">
                <xs:selector xpath="dcc:table"/>
                <xs:field xpath="@tableId"/>
                <xs:field xpath="@itemRef"/>
                <xs:field xpath="@settingRef"/>
            </xs:unique>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="measurementResultType">
        <xs:annotation>
            <xs:documentation>
                A measurement results with the methods, software and equipments used for the calibration.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="name" type="dcc:textType" minOccurs="0"/>
            <xs:element name="description" type="dcc:richContentType" minOccurs="0"/>
            <xs:element name="usedSoftware" type="dcc:softwareListType" minOccurs="0"/>
            <xs:element name="table" type="dcc:tableType" maxOccurs="unbounded" minOccurs="0">
            <xs:unique name="column">
                <xs:selector xpath="dcc:column"/>
                <xs:field xpath="@scope"/>
                <xs:field xpath="@dataCategory"/>
                <xs:field xpath="@measurand"/>
                <xs:field xpath="@metaDataCategory"/>
                <xs:field xpath="dcc:unit"/>
            </xs:unique>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="resId" type="xs:string" use="required"/>
        <xs:attribute name="refId" type="xs:IDREFS" use="optional"/>
    </xs:complexType>

    <xs:simpleType  name="charsXMLListType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                        Type providing listing of strings (xs:string)
                        with separation by blank spaces.
                </xs:documentation>
        </xs:annotation>
        <xs:list itemType="xs:string"/>
    </xs:simpleType >
    
    <xs:simpleType name="dateTimeXMLListType">
        <xs:list itemType="xs:dateTime"  />
    </xs:simpleType>

    <xs:complexType name="accreditationType">
        <xs:sequence>
            <xs:element name="accreditationCountry" minOccurs="1"/>
            <xs:element name="accreditationBody" minOccurs="1"/>
            <xs:element name="accreditationLabId" minOccurs="1"/>
            <xs:element name="accreditationNorm" minOccurs="0"/> <!--type med specifikke værdier 17025, 17035, ... -->
            <xs:element name="accreditationApplicability" minOccurs="1" type="dcc:accreditationApplicabilityType"/>
        </xs:sequence>
        <xs:attribute name="accrId" type="xs:ID" use="required"/>
    </xs:complexType>

    <xs:simpleType name="accreditationApplicabilityType">
        <xs:annotation>
            <xs:documentation>
                "1: results outside accreditation occurs and these are clearly marked. Use column with attribute metaDataCategory=accreditationException attribute to indicate this
              2: all results are under accreditation."
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="accreditationAppliesType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="y"/>
            <xs:enumeration value="n"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="booleanXMLListType">
        <xs:list itemType="xs:boolean"/>
    </xs:simpleType>

    <xs:simpleType name="stringConformityStatementStatusType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="pass"/>
            <xs:enumeration value="fail"/>
            <xs:enumeration value="conditionalPass"/>
            <xs:enumeration value="conditionalFail"/>
            <xs:enumeration value="noPass"/>
            <xs:enumeration value="noFail"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="stringConformityStatementStatusXMLListType">
        <xs:list itemType="dcc:stringConformityStatementStatusType"/>
    </xs:simpleType>

    <xs:simpleType name="stringISO3166Type">
        <xs:annotation>
            <xs:documentation>
                A string that is restricted to two upper case letters that contain a country code as defined in
                ISO 3166-1.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="stringISO639Type">
        <xs:annotation>
            <xs:documentation>
                A string that is restricted to two lower case letters that contain a language code as defined in
                ISO 639.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{2}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="stringWithLangType">
        <xs:annotation>
            <xs:documentation>
                A string element with an additional lang attribute for localization.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="lang" type="dcc:stringISO639Type" use="optional"/>
                <xs:attribute name="id" type="xs:ID" use="optional"/>
                <xs:attribute name="refId" type="xs:IDREFS" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="locationType">
        <xs:choice maxOccurs="unbounded">
            <xs:element name="city" type="dcc:notEmptyStringType"/>
            <xs:element name="countryCode" type="dcc:stringISO3166Type"/>
            <xs:element name="postCode" type="dcc:notEmptyStringType"/>
            <xs:element name="postOfficeBox" type="dcc:notEmptyStringType"/>
            <xs:element name="state" type="dcc:notEmptyStringType"/>
            <xs:element name="street" type="dcc:notEmptyStringType"/>
            <xs:element name="streetNo" type="dcc:notEmptyStringType"/>
            <xs:element name="further" type="dcc:richContentType"/>
            <!--xs:element name="positionCoordinates" type="dcc:positionCoordinatesType"/-->
        </xs:choice>
    </xs:complexType>

    <!--xs:complexType name="positionCoordinatesType">
        <xs:sequence>
            <xs:element name="positionCoordinateSystem" type="dcc:notEmptyStringType"/>
            <xs:element name="reference" type="dcc:notEmptyStringType" minOccurs="0"/>
            <xs:element name="declaration" type="dcc:richContentType" minOccurs="0"/>
            <xs:element name="positionCoordinate1" type="si:realQuantityType"/>
            <xs:element name="positionCoordinate2" type="si:realQuantityType"/>
            <xs:element name="positionCoordinate3" type="si:realQuantityType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="optional"/>
        <xs:attribute name="refId" type="xs:IDREFS" use="optional"/>
    </xs:complexType-->

    <xs:complexType name="contactType">
        <xs:sequence>
            <xs:element name="name" type="dcc:textType"/>
            <xs:element name="attPerson" type="dcc:notEmptyStringType" minOccurs="0"/>
            <xs:element name="eMail" type="dcc:notEmptyStringType" minOccurs="0"/>
            <xs:element name="phone" type="dcc:notEmptyStringType" minOccurs="0"/>
            <xs:element name="fax" type="dcc:notEmptyStringType" minOccurs="0"/>
            <xs:element name="location" type="dcc:locationType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="optional"/>
    </xs:complexType>

    <xs:complexType name="hashType">
        <xs:sequence>
            <xs:element name="referral" type="dcc:textType"/>
            <xs:element name="referralID" type="dcc:notEmptyStringType"/>
            <xs:element name="procedure" type="dcc:notEmptyStringType"/>
            <xs:element name="value" type="dcc:notEmptyStringType"/>
            <xs:element name="description" type="dcc:richContentType" minOccurs="0"/>
            <xs:element name="inValidityRange" type="xs:boolean" minOccurs="0"/>
            <xs:element name="traceable" type="xs:boolean" minOccurs="0"/>
            <xs:element name="linkedReport" type="dcc:hashType" minOccurs="0"/>            
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="optional"/>
    </xs:complexType>

    <xs:complexType name="textType">
        <xs:annotation>
            <xs:documentation>
                The textType defines the type for writing localized text in the DCC.
                In this Type, the element content can be used many times with different language definition (attribute
                lang).
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="content" type="dcc:stringWithLangType" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="optional"/>
    </xs:complexType>

    <xs:complexType name="richContentType">
        <xs:annotation>
            <xs:documentation>
                Rich content Type can contain files and formulas beside the normal text content.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="name" type="dcc:textType" minOccurs="0"/>
            <xs:sequence maxOccurs="unbounded">
                <xs:element name="content" type="dcc:stringWithLangType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="optional"/>
        <xs:attribute name="refId" type="xs:IDREFS" use="optional"/>
    </xs:complexType>

    <xs:complexType name="columnType">
        <xs:annotation>
            <xs:documentation>
            Columns for measurement data and annotatin of data. Each column is ordered directly by the customer from the lists of allowed colTypes and measurandTypes.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="heading" type="dcc:stringWithLangType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="unit" type="dcc:unitType" minOccurs="0"/>
            <xs:choice>
		<xs:element name="valueXMLList" type="dcc:decimalXMLListType"/>
                <xs:element name="conformityXMLList" type="dcc:stringConformityStatementStatusXMLListType"/>
                <xs:element name="stringXMLList" type="dcc:stringXMLListType"/>
                <xs:element name="accreditationAppliesXMLList" type="dcc:accreditationAppliesXMLListType"/>
                <xs:element name="exceptionXMLList" type="xs:IDREFS"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="scope" type="dcc:scopeType" use="required"/>
        <xs:attribute name="dataCategory" type="dcc:dataCategoryType" use="required"/>
        <xs:attribute name="measurand" type="dcc:measurandType" use="required"/>
        <xs:attribute name="metaDataCategory" type="dcc:metaDataCategoryType" use="required"/>
    </xs:complexType>

    <xs:simpleType name="unitType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                BIPM SI brochure unit (9th edition).
                Based on xs:string.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="decimalType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Scientific decimal format for numerical values.
                Based on type xs:double.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:double">
            <xs:pattern value="[-+]?((\d*\.\d+)|(\d+\.\d*)|(\d+\.?))([Ee][-+]?\d+)?"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="decimalXMLListType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Type providing listing of values (si:decimalType) 
                with separation by blank spaces.
            </xs:documentation>
        </xs:annotation>
        <xs:list itemType="dcc:decimalType"/>
    </xs:simpleType>
    <xs:simpleType name="yesnolist">
        <xs:list itemType="dcc:yesno"/>
    </xs:simpleType>

    <xs:simpleType name="stringXMLListType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Type providing listing of strings (xs:string) 
                with separation by blank spaces.
            </xs:documentation>
        </xs:annotation>
        <xs:list itemType="xs:string"/>
    </xs:simpleType>

    <xs:complexType name="accreditationAppliesXMLListType">
        <xs:simpleContent>
        <xs:extension base="dcc:yesnolist">
            <xs:attribute name="accrRef" type="xs:IDREFS" use="required"/>
        </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:simpleType name="yesno">
        <xs:restriction base="xs:string">
            <xs:enumeration value="y"/>
            <xs:enumeration value="n"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="scopeType">
        <xs:annotation>
            <xs:documentation>
                The scopeType is restricting the scope attribute of the columnType.
                For data columns the attribute is used to descibe the data.. 
                For meta data columns the attribute is used to match the data column(s) that is enriched with the meta data. 
            </xs:documentation>
        </xs:annotation>
            <xs:restriction base="xs:string">
                <xs:enumeration value="reference" /> <!-- Data relating to the reference equipment. E.g. measured value or uncertainty of the reference. -->
                <xs:enumeration value="itemIndication" /> <!-- Data relating to the device under test. E.g. nominal value of an artefact or display value of an active instrument-->
                <xs:enumeration value="itemBias" /> <!-- Data relating to the difference item_value - reference_value. E.g. the calibration result (bias of the item and its uncertainty.) -->
                <xs:enumeration value="environment" /> <!-- Influece conditions measured in the environment . E.g. laboratory temperature, pressure etc...-->
                <xs:enumeration value="Other" />  <!--the content may be specified in the column name in human readable form -->
                <xs:enumeration value="-" />  <!--Used for meta data columns to refer to all scopes -->
            </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="dataCategoryType">
        <xs:annotation>
            <xs:documentation>
                The dataCategoryType is restricting the value of the dataCategory attribute of the columnType.
                For data columns this attribute is used to describe the data.
                For meta data columns the attribute is used to match the data column(s) that is enriched with the meta data. 
            </xs:documentation>
        </xs:annotation>
            <xs:restriction base="xs:string">
                <xs:enumeration value="Value" />  <!-- used for measured quantities -->
                <xs:enumeration value="TargetValue" /> <!-- used for predefined calibration points, typically agreed with the client before calibration -->
                <xs:enumeration value="ExpandedUncertainty" /> 
                <xs:enumeration value="UncertaintyCoverageFactor_k" />
                <xs:enumeration value="ToleranceLimitLower" />
                <xs:enumeration value="ToleranceLimitUpper" />
                <xs:enumeration value="AcceptanceLimitLower" />
                <xs:enumeration value="AcceptanceLimitUpper" />
                <xs:enumeration value="repeatability" /> 
                <xs:enumeration value="Conformity" />   <!-- used for pass/fail assesment of the calibration. Typically used in conjunction with a meta data column refering to a statement with description of the assesment basis. -->
                <xs:enumeration value="Other" />  <!--the content may be specified in the column name in human readable form -->
                <xs:enumeration value="-" /> <!-- used for meta data columns to match data columns with any dataCategory -->
            </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="metaDataCategoryType">
        <xs:annotation>
            <xs:documentation>
                The metaDataCategoryType is restricting the values of the metaDataCategory attribute of the columnType. 
                The attribute is used to distinguish data columns and meta data columns. A column is considered a meta data column if the atribute metaDataCategory has any other value than "Data"
                For meata data columns this attribute is also used to describe the content of the column.
            </xs:documentation>
        </xs:annotation>
            <xs:restriction base="xs:string">
                <xs:enumeration value="UsedReferenceId" />
                <xs:enumeration value="UsedMethodId" />
                <xs:enumeration value="UsedEquipmentId" />
                <xs:enumeration value="Correction" /> 
                <xs:enumeration value="accreditationException" /> 
                <xs:enumeration value="customerTag" /> 
                <xs:enumeration value="Exception" /> 
                <xs:enumeration value="Statement" /> 
                <xs:enumeration value="Data" />  <!--The column is not considered as meta data. The data type is specified in the dataCategory attribute-->
                <xs:enumeration value="Other" />  <!--the content may be specified in the column name in human readable form -->
            </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="measurandType">
        <xs:annotation>
            <xs:documentation>
                The measurandType is restricting the value of the measurand attribute of the columnType.
                For data columns this attribute is used to describe the data.
                For meta data columns the attribute is used to match the data column(s) that is enriched with the meta data. 
            </xs:documentation>
        </xs:annotation>
            <xs:restriction base="xs:string">
				<xs:enumeration value="-" />
				<xs:enumeration value="Measure.Capacitance" />
				<xs:enumeration value="Measure.Conductance" />
				<xs:enumeration value="Measure.Conductivity" />
				<xs:enumeration value="Measure.Current.AC" />
				<xs:enumeration value="Measure.Current.AC.Sinewave" />
				<xs:enumeration value="Measure.Current.AC.Squarewave" />
				<xs:enumeration value="Measure.Current.AC.Trianglewave" />
				<xs:enumeration value="Measure.Current.DC" />
				<xs:enumeration value="Measure.Density.Mass.Gas" />
				<xs:enumeration value="Measure.Density.Mass.Liquid" />
				<xs:enumeration value="Measure.Density.Mass.Solid" />
				<xs:enumeration value="Measure.Force" />
				<xs:enumeration value="Measure.Frequency" />
				<xs:enumeration value="Measure.Frequency.AmplitudeModulation.Rate" />
				<xs:enumeration value="Measure.Frequency.FrequencyModulation.Deviation" />
				<xs:enumeration value="Measure.Frequency.FrequencyModulation.Rate" />
				<xs:enumeration value="Measure.Frequency.PhaseModulation.Rate" />
				<xs:enumeration value="Measure.Humidity.Absolute" />
				<xs:enumeration value="Measure.Impedance" />
				<xs:enumeration value="Measure.Inductance" />
				<xs:enumeration value="Measure.Length" />
				<xs:enumeration value="Measure.Length.Circumference" />
				<xs:enumeration value="Measure.Length.Diameter" />
				<xs:enumeration value="Measure.Length.Form.Flatness" />
				<xs:enumeration value="Measure.Length.Form.Parallelism" />
				<xs:enumeration value="Measure.Length.Form.Perpendicularity" />
				<xs:enumeration value="Measure.Length.Form.Roughness" />
				<xs:enumeration value="Measure.Length.Form.Roundness" />
				<xs:enumeration value="Measure.Length.Form.Sphericity" />
				<xs:enumeration value="Measure.Length.Form.Straightness.Axis" />
				<xs:enumeration value="Measure.Length.Form.Straightness.Surface" />
				<xs:enumeration value="Measure.Length.Radius" />
				<xs:enumeration value="Measure.Mass.Apparent" />
				<xs:enumeration value="Measure.Mass.Conventional" />
				<xs:enumeration value="Measure.Mass.True" />
				<xs:enumeration value="Measure.Phase.PhaseModulation" />
				<xs:enumeration value="Measure.Phase.ReflectionFactor.RF" />
				<xs:enumeration value="Measure.Phase.TransmissionFactor" />
				<xs:enumeration value="Measure.PhaseNoise.SideBand" />
				<xs:enumeration value="Measure.Power.RF.Sinewave" />
				<xs:enumeration value="Measure.Pressure.Hydraulic.Static" />
				<xs:enumeration value="Measure.Pressure.Pneumatic.Absolute.Static" />
				<xs:enumeration value="Measure.Pressure.Pneumatic.Differential.Static" />
				<xs:enumeration value="Measure.Pressure.Pneumatic.Gage.Static" />
				<xs:enumeration value="Measure.Ratio.AmplitudeModulation" />
				<xs:enumeration value="Measure.Ratio.Density.Mass" />
				<xs:enumeration value="Measure.Ratio.Humidity.Relative" />
				<xs:enumeration value="Measure.Ratio.Humidity.Specific" />
				<xs:enumeration value="Measure.Ratio.Power.ReflectionFactor.RF" />
				<xs:enumeration value="Measure.Ratio.Power.RF.Sinewave.Delta.Frequency" />
				<xs:enumeration value="Measure.Ratio.Power.RF.Sinewave.Delta.Power" />
				<xs:enumeration value="Measure.Ratio.Power.TransmissionFactor" />
				<xs:enumeration value="Measure.Ratio.Torque" />
				<xs:enumeration value="Measure.Ratio.Voltage.AC.Ripple.OnDC" />
				<xs:enumeration value="Measure.Ratio.Voltage.AC.Sinewave.Delta.Frequency" />
				<xs:enumeration value="Measure.Ratio.Voltage.AC.Sinewave.Delta.Voltage" />
				<xs:enumeration value="Measure.Resistance" />
				<xs:enumeration value="Measure.Temperature" />
				<xs:enumeration value="Measure.Temperature.Radiometric" />
				<xs:enumeration value="Measure.Temperature.Simulated.PRT" />
				<xs:enumeration value="Measure.Temperature.Simulated.RTD" />
				<xs:enumeration value="Measure.Temperature.Simulated.Thermocouple" />
				<xs:enumeration value="Measure.Time.Transition" />
				<xs:enumeration value="Measure.Time.UTC" />
				<xs:enumeration value="Measure.Torque" />
				<xs:enumeration value="Measure.Torque.HydraulicPressure" />
				<xs:enumeration value="Measure.Voltage.AC" />
				<xs:enumeration value="Measure.Voltage.AC.Ripple.OnDC" />
				<xs:enumeration value="Measure.Voltage.AC.Sinewave" />
				<xs:enumeration value="Measure.Voltage.AC.Squarewave" />
				<xs:enumeration value="Measure.Voltage.AC.Trianglewave" />
				<xs:enumeration value="Measure.Voltage.DC" />
				<xs:enumeration value="Measure.Volume" />
				<xs:enumeration value="Measure.Weight" />
				<xs:enumeration value="Source.Capacitance" />
				<xs:enumeration value="Source.Conductance" />
				<xs:enumeration value="Source.Conductivity" />
				<xs:enumeration value="Source.Current.AC.Sinewave" />
				<xs:enumeration value="Source.Current.AC.Squarewave" />
				<xs:enumeration value="Source.Current.AC.Trianglewave" />
				<xs:enumeration value="Source.Current.DC" />
				<xs:enumeration value="Source.Density.Mass.Gas" />
				<xs:enumeration value="Source.Density.Mass.Liquid" />
				<xs:enumeration value="Source.Density.Mass.Solid" />
				<xs:enumeration value="Source.Force" />
				<xs:enumeration value="Source.Frequency.AC.Squarewave" />
				<xs:enumeration value="Source.Frequency.Arbitrary.Cardiograph" />
				<xs:enumeration value="Source.Humidity.Absolute" />
				<xs:enumeration value="Source.Impedance" />
				<xs:enumeration value="Source.Inductance" />
				<xs:enumeration value="Source.Length" />
				<xs:enumeration value="Source.Length.Circumference" />
				<xs:enumeration value="Source.Length.Diameter" />
				<xs:enumeration value="Source.Length.Form.Perpendicularity" />
				<xs:enumeration value="Source.Length.Form.Roundness" />
				<xs:enumeration value="Source.Length.Form.Sphericity" />
				<xs:enumeration value="Source.Length.Form.Straightness.Surrface" />
				<xs:enumeration value="Source.Length.Radius" />
				<xs:enumeration value="Source.Mass.Apparent" />
				<xs:enumeration value="Source.Mass.Conventional" />
				<xs:enumeration value="Source.Mass.True" />
				<xs:enumeration value="Source.Period.Marker" />
				<xs:enumeration value="Source.Period.Squarewave" />
				<xs:enumeration value="Source.Power.AC.Sinewave" />
				<xs:enumeration value="Source.Power.AC.Sinewave.Simulated" />
				<xs:enumeration value="Source.Power.DC.Simulated" />
				<xs:enumeration value="Source.Power.Noise.Terminated" />
				<xs:enumeration value="Source.Power.RF.Sinewave" />
				<xs:enumeration value="Source.Pressure.Hydraulic.Static" />
				<xs:enumeration value="Source.Pressure.Pneumatic.Absolute.Static" />
				<xs:enumeration value="Source.Pressure.Pneumatic.Differential.Static" />
				<xs:enumeration value="Source.Pressure.Pneumatic.Gage.Static" />
				<xs:enumeration value="Source.Ratio.AmplitudeModulation" />
				<xs:enumeration value="Source.Ratio.Humidity.Relative" />
				<xs:enumeration value="Source.Ratio.Humidity.Specific" />
				<xs:enumeration value="Source.Ratio.Power.RF.Sinewave.Delta.Frequency" />
				<xs:enumeration value="Source.Ratio.Voltage.AC.Sinewave.Delta.Frequency" />
				<xs:enumeration value="Source.Ratio.Voltage.AC.Sinewave.Delta.Voltage" />
				<xs:enumeration value="Source.Resistance" />
				<xs:enumeration value="Source.Temperature" />
				<xs:enumeration value="Source.Temperature.FixedPoint" />
				<xs:enumeration value="Source.Temperature.Radiometric" />
				<xs:enumeration value="Source.Temperature.Simulated.PRT" />
				<xs:enumeration value="Source.Temperature.Simulated.RTD" />
				<xs:enumeration value="Source.Temperature.Simulated.Thermocouple" />
				<xs:enumeration value="Source.Time.Marker" />
				<xs:enumeration value="Source.Torque" />
				<xs:enumeration value="Source.Voltage.AC.Sinewave" />
				<xs:enumeration value="Source.Voltage.DC" />
				<xs:enumeration value="Source.Voltage.DC.Delta.Voltage" />
				<xs:enumeration value="Source.Voltage.Noise.Terminated" />
				<xs:enumeration value="Source.Voltage.Shorted" />
				<xs:enumeration value="Source.Weight" />
                <xs:enumeration value="other" />  <!--the content may be specified in the column name in human readable form -->
            </xs:restriction>
    </xs:simpleType>

</xs:schema>
