dcc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="3.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:dcc="https://dfm.dk"
           xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
           targetNamespace="https://dfm.dk"
           elementFormDefault="qualified">


    <xs:annotation>
        <xs:documentation>
            DCC - Digital Calibration Certificate
            Copyright (c) 2019 - 2023 Physikalisch-Technische Bundesanstalt and DFM

            This XML Scheme Definition (XSD) is free software: you can redistribute it and/or modify
            it under the terms of the GNU Lesser General Public License as published by
            the Free Software Foundation, version 3 of the License.

            This XSD is distributed in the hope that it will be useful,
            but WITHOUT ANY WARRANTY; without even the implied warranty of
            MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
            GNU Lesser General Public License for more details.
        </xs:documentation>
    </xs:annotation>

    <xs:element name="digitalCalibrationCertificate" type="dcc:digitalCalibrationCertificateType">
    <xs:key name="heading">
        <xs:selector xpath='dcc:statements/dcc:heading'/>
        <xs:field xpath="@lang"/>
    </xs:key>
    <xs:key name="PKequipment">
        <xs:selector xpath="dcc:equipment/dcc:equipmentItem"/>
        <xs:field xpath="@id"/>
    </xs:key>
    <xs:key name="PKsetting">
        <xs:selector xpath="dcc:settings/dcc:setting"/>
        <xs:field xpath="@settingId"/>
    </xs:key>
    <xs:key name="PKstatement">
        <xs:selector xpath="dcc:statements/dcc:statement"/>
        <xs:field xpath="@id"/>
    </xs:key>
    <xs:key name="PKmeasuringSystem">
        <xs:selector xpath="dcc:measuringSystems/dcc:measuringSystem"/>
        <xs:field xpath="@id"/>
    </xs:key>
    <xs:key name="PKmeasurementSeries">
        <xs:selector xpath="dcc:measurementResults/dcc:measurementSeries"/>
        <xs:field xpath="@tableId"/>
    </xs:key>
    <xs:keyref name="ms2equip" refer="dcc:PKequipment">
        <xs:selector xpath="dcc:measuringSystems/dcc:measuringSystem/dcc:equipmentRef"/>
        <xs:field xpath="@equipmentItemRef"/>
    </xs:keyref>
    <xs:keyref name="ms2statetment" refer="dcc:PKstatement">
        <xs:selector xpath="dcc:measuringSystems/dcc:measuringSystem/dcc:statementRef"/>
        <xs:field xpath="."/>
    </xs:keyref>
    <xs:keyref name="table2ms" refer="dcc:PKmeasuringSystem">
        <xs:selector xpath="dcc:measurementResults/dcc:calibrationResult"/>
        <xs:field xpath="@measuringSystemRef"/>
    </xs:keyref>
    <xs:keyref name="msequip2setting" refer="dcc:PKsetting">
        <xs:selector xpath="dcc:measuringSystems/dcc:measuringSystem/dcc:equipmentRef/dcc:settingRef"/>
        <xs:field xpath="."/>
    </xs:keyref>
    <xs:keyref name="exceptionRefColumn2statement" refer="dcc:PKstatement">
        <xs:selector xpath="dcc:measurementResults/dcc:calibrationResult/dcc:ataColumn/dcc:dataList/dcc:exceptionRef/dcc:row"/>
        <xs:field xpath="."/>
    </xs:keyref>
    <xs:keyref name="measurementSeriesRefColumn2measurementSeries" refer="dcc:PKmeasurementSeries">
        <xs:selector xpath="dcc:measurementResults/dcc:calibrationResult/dcc:column/dcc:dataList/dcc:measurementSeriesRef/dcc:row"/>
        <xs:field xpath="."/>
    </xs:keyref>
    </xs:element>

    <xs:complexType name="digitalCalibrationCertificateType">
        <xs:annotation>
            <xs:documentation>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>

            <xs:element name="heading" type="dcc:stringWithLangType" minOccurs="0" maxOccurs="unbounded"/>
            
            <xs:element name="administrativeData" type="dcc:administrativeDataType"/>
            <xs:element name="statements" type="dcc:statementListType" minOccurs="0"/>
            <xs:element name="equipment" type="dcc:equipmentListType"/>
            <xs:element name="settings" type="dcc:settingListType" minOccurs="0"/>
            <xs:element name="measuringSystems" type="dcc:measuringSystemListType"/>
            <xs:element name="measurementResults" type="dcc:measurementResultsType" maxOccurs="unbounded" minOccurs="0">
                <xs:unique name="calibrationResult">
                    <xs:selector xpath="dcc:calibrationResult"/>
                    <xs:field xpath="@measuringSystemRef"/>
                    <xs:field xpath="@serviceCategory"/>
                    <xs:field xpath="@customServiceCategory"/>
                </xs:unique>
            </xs:element>
            <xs:element name="embeddedFiles" type="dcc:embeddedFileListType" maxOccurs="1" minOccurs="0"/>

            <xs:element name="comment" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!--xs:element ref="ds:Signature" minOccurs="0" maxOccurs="unbounded"/-->

        </xs:sequence>

        <xs:attribute name="schemaVersion" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="3\.0\.0"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="administrativeDataType">
        <xs:annotation>
            <xs:documentation>
                The element administrativeData contains all essential administrative information about the calibration.
                The entries in this area are basically the same and regulated in all DCCs.
            </xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="dccSoftware" type="dcc:softwareListType"/>
            <xs:element name="coreData" type="dcc:coreDataType"/>
            <xs:element name="calibrationLaboratory" type="dcc:contactType"/>
            <xs:element name="accreditation" type="dcc:accreditationType" minOccurs="0"/>
            <xs:element name="respPersons" type="dcc:respPersonListType"/>
            <xs:element name="customer" type="dcc:contactType"/>
            <xs:element name="usedSoftware" type="dcc:softwareListType" minOccurs="0"/>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="measuringSystemListType">
        <xs:annotation>
            <xs:documentation>
                A list of measuringSystem elements.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="heading" type="dcc:stringWithLangType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="measuringSystem" type="dcc:measuringSystemType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="measuringSystemType">
        <xs:annotation>
            <xs:documentation>
                set of one or more measuring instruments and often other components, assembled and
adapted to give information used to generate measured values within specified intervals for
quantities of specified kinds
                In the scope of DCC it is a list of references to elements of measuringInstrumentType and instrumentSettingType. Each table in the measutrementResults section must refer to exactely one element of measuringSystemType.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="heading" type="dcc:stringWithLangType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="equipmentRefs" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base='xs:IDREFS'>
                            <xs:attribute name="type" type="dcc:refTypeType" use="optional"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
			</xs:element>
            <xs:element name="settingRefs" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base='xs:IDREFS'>
                            <xs:attribute name="type" type="dcc:refTypeType" use="optional"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>            
			</xs:element>
            <xs:element name="statementRefs" type="xs:IDREFS" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="operationalStatus" type="dcc:operationalStatusType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="body" type="dcc:stringWithLangType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>

    <xs:complexType name="equipmentRefType">
        <xs:sequence>
          <xs:element name="settingRef" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="equipmentItemRef" type="xs:IDREF" use="required"/>
    </xs:complexType>
	
	<xs:simpleType name="refTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="statement"/>
			<xs:enumeration value="equipmentItem"/>
			<xs:enumeration value="setting"/>
			<xs:enumeration value="measuringSystem"/>
			<xs:enumeration value="hlink"/>
		</xs:restriction>
	</xs:simpleType>

    <!--xs:complexType name="refIdType">
        <xs:annotation>
            <xs:documentation>
                Reference to an element
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="heading" type="dcc:stringWithLangType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="refId" type="xs:IDREFS" use="required"/>
    </xs:complexType-->

    <xs:complexType name="softwareListType">
        <xs:annotation>
            <xs:documentation>
                A list of software elements.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="software" type="dcc:softwareType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="softwareType">
        <xs:annotation>
            <xs:documentation>
                Information about a software including its name, version and a description.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="heading" type="dcc:stringWithLangType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="name" type="dcc:notEmptyStringType"/>
            <xs:element name="release" type="dcc:notEmptyStringType"/>
            <xs:element name="type" minOccurs="0">
               <xs:simpleType>
                   <xs:restriction base="xs:string">
                       <xs:enumeration value="application" />
                       <xs:enumeration value="bios" />
                       <xs:enumeration value="driver" />
                       <xs:enumeration value="editor" />
                       <xs:enumeration value="firmware" />
                       <xs:enumeration value="library" />
                       <xs:enumeration value="os" />
                       <xs:enumeration value="other" />
                   </xs:restriction>
               </xs:simpleType>
           </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="optional"/>
    </xs:complexType>


    <xs:complexType name="coreDataType">
        <xs:annotation>
            <xs:documentation>
                Important metadata for the DCC containing the global unique identifier and other identifications.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="countryCodeISO3166_1" type="dcc:stringISO3166Type"/>
            <xs:element name="usedLangCodeISO639_1" type="dcc:stringISO639Type" maxOccurs="unbounded"/>
            <xs:element name="mandatoryLangCodeISO639_1" type="dcc:stringISO639Type" maxOccurs="unbounded"/>
            <xs:element name="uniqueIdentifier" type="dcc:identificationType"/>
            <xs:element name="customerIdentification" type="dcc:identificationType" minOccurs="0"/>
            <xs:element name="receiptDate" type="xs:date" minOccurs="0"/>
            <xs:element name="beginPerformanceDate" type="xs:date"/>
            <xs:element name="endPerformanceDate" type="xs:date"/>
            <xs:element name="performanceLocation" type="dcc:performanceLocationType"/>
            <xs:element name="issueDate" type="xs:date" minOccurs="0"/>            
            <xs:element name="previousReport" type="dcc:hashType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:simpleType name="notEmptyStringType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[^\s]+(\s+[^\s]+)*"/>
        </xs:restriction>
    </xs:simpleType>


    <xs:complexType name="equipmentListType">
        <xs:annotation>
            <xs:documentation>
                This element is a list of measuring instruments.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="heading" type="dcc:stringWithLangType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="equipmentItem" type="dcc:equipmentItemType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="equipmentItemType">
        <xs:annotation>
            <xs:documentation>
                Measuring instrument: I.e. equipment under test and reference equipment that has one or more identifiers (e.g. serial number).
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
        <xs:element name="heading" type="dcc:stringWithLangType" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="manufacturer" type="xs:string" minOccurs="0"/>
        <xs:element name="productName" type="xs:string" minOccurs="0"/>
        <xs:element name="productType" type="xs:string" minOccurs="0"/>
        <xs:element name="productNumber" type="xs:string" minOccurs="0"/>
        <xs:element name="identification" type="dcc:identificationType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="category"  type="dcc:equipmentCategoryType" use="required">
               <!-- <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="item"/>
                        <xs:enumeration value="reference"/>
                    </xs:restriction>
                </xs:simpleType>-->
        </xs:attribute>
        <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>

    <xs:simpleType name="equipmentCategoryType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="item"/>
			<xs:enumeration value="indicating"/>
			<xs:enumeration value="transfering"/>
			<xs:enumeration value="sensing"/>
			<xs:enumeration value="reference"/>
			<xs:enumeration value="environment"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>

    <xs:complexType name="identificationType">
        <xs:annotation>
            <xs:documentation>
                Identification: I.e. serial number or identification number.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
        <xs:element name="heading" type="dcc:stringWithLangType" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="value" type="xs:string" minOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="issuer" type="dcc:issuerType">
        </xs:attribute>
    </xs:complexType>

    <xs:simpleType name="operationalStatusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="as found"/>
			<xs:enumeration value="after adjustment"/>
			<xs:enumeration value="after maintenance"/>
			<xs:enumeration value="after maintenance and adjustme"/>
		</xs:restriction>
	</xs:simpleType>

    <xs:simpleType name="issuerType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="customer"/>
			<xs:enumeration value="manufacturer"/>
			<xs:enumeration value="calibrationLaboratory"/>
		</xs:restriction>
	</xs:simpleType>

    <xs:complexType name="performanceLocationType">
        <xs:annotation>
            <xs:documentation>
                This type contains information about the location where the the calibration is performed.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="dcc:stringPerformanceLocationType">
                <xs:attribute name="id" type="xs:ID" use="optional"/>
                <xs:attribute name="refId" type="xs:IDREFS" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:simpleType name="stringPerformanceLocationType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="laboratory"/>
            <xs:enumeration value="customer"/>
            <xs:enumeration value="laboratoryBranch"/>
            <xs:enumeration value="customerBranch"/>
            <xs:enumeration value="other"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="calibrationLaboratoryType">
        <xs:annotation>
            <xs:documentation>
                Information about the calibration laboratory.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="calibrationLaboratoryCode" type="dcc:notEmptyStringType" minOccurs="0"/>
            <xs:element name="contact" type="dcc:contactType"/>		
            <xs:element name="cryptElectronicSeal" type="xs:boolean" minOccurs="0"/>
            <xs:element name="cryptElectronicSignature" type="xs:boolean" minOccurs="0"/>
            <xs:element name="cryptElectronicTimeStamp" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="respPersonListType">
        <xs:annotation>
            <xs:documentation>
                List of responsible persons for a DCC.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="respPerson" type="dcc:respPersonType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="respPersonType">
        <xs:annotation>
            <xs:documentation>
                A person responsible for a DCC.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="heading" type="dcc:stringWithLangType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="name" type="dcc:notEmptyStringType"/>
            <xs:element name="mainSigner" type="xs:boolean" minOccurs="0"/>
            <xs:element name="cryptElectronicSeal" type="xs:boolean" minOccurs="0"/>
            <xs:element name="cryptElectronicSignature" type="xs:boolean" minOccurs="0"/>
            <xs:element name="cryptElectronicTimeStamp" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="optional"/>
    </xs:complexType>

    <xs:complexType name="settingListType">
        <xs:annotation>
            <xs:documentation>
                List of settings attached to a DCC.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="heading" type="dcc:stringWithLangType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="body" type="dcc:stringWithLangType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="setting" type="dcc:settingType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="settingType">
        <xs:sequence>
            <!--<xs:element name="countryCodeISO3166_1" type="dcc:stringISO3166Type" minOccurs="0"
                        maxOccurs="unbounded"/>-->
            <xs:element name="parameter" type="dcc:notEmptyStringType" minOccurs="0"/>
            <xs:element name="value" type="dcc:notEmptyStringType" minOccurs="0"/>
            <xs:element name="unit" type="dcc:notEmptyStringType" minOccurs="0"/>
			<xs:element name="softwareInstruction" type="dcc:notEmptyStringType" minOccurs="0"/>
            <xs:element name="heading" type="dcc:stringWithLangType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="body" type="dcc:stringWithLangType" minOccurs="0" maxOccurs="unbounded"/>		</xs:sequence>
        <xs:attribute name="settingId" type="xs:ID" use="required"/>
        <xs:attribute name="equipmentRef" type="xs:IDREFS" use="required"/>
    </xs:complexType>

    <xs:complexType name="statementListType">
        <xs:annotation>
            <xs:documentation>
                List of statements attached to a DCC.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="heading" type="dcc:stringWithLangType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="body" type="dcc:stringWithLangType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="statement" type="dcc:statementType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="statementType">
        <xs:sequence>
            <xs:element name="heading" type="dcc:stringWithLangType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="body" type="dcc:stringWithLangType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="externalReference" type="dcc:notEmptyStringType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
        <xs:attribute name="category" type="dcc:statementCategoryType" use="required"/>
    </xs:complexType>

    <xs:simpleType name="statementCategoryType">
        <xs:annotation>
            <xs:documentation>
            </xs:documentation>
        </xs:annotation>
            <xs:restriction base="xs:string">
                <xs:enumeration value="method" /> 
                <xs:enumeration value="general" /> 
                <xs:enumeration value="exception" /> 
                <xs:enumeration value="traceability" /> 
                <xs:enumeration value="attention" /> 
                <xs:enumeration value="comment" /> 
                <xs:enumeration value="accreditation" /> 
                <xs:enumeration value="accreditationException" /> 
                <xs:enumeration value="decisionRule" /> 
                <xs:enumeration value="norm" /> 
            </xs:restriction>
    </xs:simpleType>
	
	<xs:simpleType name="tableCategoryType">
        <xs:annotation>
            <xs:documentation>
            </xs:documentation>
        </xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="calibrationResult" /> 
			<xs:enumeration value="measurementSeries" /> 
		</xs:restriction>
    </xs:simpleType>

    <xs:complexType name="tableType">
        <xs:annotation>
            <xs:documentation>
                This type is for arranging any measurement data into a table with rows and columns. It is also allowed to include images and plots in the form of references to embedded files.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="heading" type="dcc:stringWithLangType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="body" type="dcc:stringWithLangType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="column" type="dcc:columnType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="embeddedFileRef" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
		<xs:attribute name="tableId" type="xs:ID" use="required"/>
		<xs:attribute name="measuringSystemRef" type="xs:IDREF" use="required"/>
		<xs:attribute name="numRows" type="xs:int" use="required"/>
		<xs:attribute name="numCols" type="xs:int" use="required"/>
		<xs:attribute name="customServiceCategory" type="xs:string" use="optional" default="BIPM"/>
		<xs:attribute name="statementRef" type="xs:IDREFS" use="optional"/>		
    </xs:complexType>

    <xs:complexType name="measurementResultsType">
        <xs:annotation>
        <xs:documentation>
        Measurement results consists of a number of tables containing the calibration results with reference to relevant measuring systems under calibration, references used and applicalble statments.
        </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="heading" type="dcc:stringWithLangType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="body" type="dcc:stringWithLangType" minOccurs="0"/>
            <xs:element name="calibrationResult"  maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base='dcc:tableType'>
                            <xs:attribute name="serviceCategory" type="dcc:serviceCategoryType" use="required"/>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
                <xs:unique name="column">
                    <xs:selector xpath="dcc:column"/>
                    <xs:field xpath="@dataCategoryRef"/>
                    <xs:field xpath="@scope"/>
                    <xs:field xpath="@measurand"/>
                    <xs:field xpath="dcc:unit"/>
                    <xs:field xpath="dcc:dataList/*/@dataCategory"/>
                </xs:unique>
            </xs:element>
            <xs:element name="measurementSeries" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base='dcc:tableType'>
                            <xs:attribute name="serviceCategory" type="dcc:serviceCategoryType" use="optional"/>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
                <xs:unique name="measSerDataColumn">
                    <xs:selector xpath="dcc:column"/>
                    <xs:field xpath="@dataCategoryRef"/>
                    <xs:field xpath="@scope"/>
                    <xs:field xpath="@measurand"/>
                    <xs:field xpath="dcc:unit"/>
                    <xs:field xpath="dcc:dataList/*/@dataCategory"/>
                </xs:unique>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CMCListType">
        <xs:annotation>
            <xs:documentation>
                List of approved Calibration and Measurement Capabilities (CMC) applicable to results in this DCC.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="heading" type="dcc:stringWithLangType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="CMC" type="dcc:accreditationType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="accreditationType">
        <xs:annotation>
            <xs:documentation>
                Approved Calibration and Measurement Capability (CMC) applicable to results in this DCC.
                Mandatotry fields: 
                Name and country of the accreditation body
                Id of the calibration laboratory in the system of the accreitation body
                Applicability of accreditation for results in this DCC: 'wholly' (applies to all results) or 'partial' (exceptions occur)

            </xs:documentation>
        </xs:annotation>
		<xs:sequence>
			<xs:element name="heading" type="dcc:stringWithLangType" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element name="accreditationCountry" minOccurs="1"/>
            <xs:element name="accreditationBody" minOccurs="1"/>
            <xs:element name="accreditationLabId" minOccurs="1"/>
            <xs:element name="accreditationNorm" minOccurs="0"/> <!--type with specific values i.e. 17025, 17035, ... -->
            <xs:element name="accreditationApplicability" minOccurs="1" type="dcc:accreditationApplicabilityType"/>
        </xs:sequence>
        <!-- <xs:attribute name="accrId" type="xs:ID" use="required"/> --> 
    </xs:complexType>

    <xs:simpleType name="accreditationApplicabilityType">
        <xs:annotation>
            <xs:documentation>
             "partial: results outside accreditation occurs and these are clearly marked. Use column with attribute metaDataCategory=accreditationException to indicate this
              wholly: all results are under accreditation."
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="partial"/>
            <xs:enumeration value="wholly"/>
        </xs:restriction>
    </xs:simpleType>


    <xs:complexType name="locationType">
        <xs:choice maxOccurs="unbounded">
            <xs:element name="heading" type="dcc:stringWithLangType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="city" type="dcc:notEmptyStringType"/>
            <xs:element name="countryCode" type="dcc:stringISO3166Type"/>
            <xs:element name="postCode" type="dcc:notEmptyStringType"/>
            <xs:element name="postOfficeBox" type="dcc:notEmptyStringType"/>
            <xs:element name="state" type="dcc:notEmptyStringType"/>
            <xs:element name="street" type="dcc:notEmptyStringType"/>
            <xs:element name="streetNo" type="dcc:notEmptyStringType"/>
            <xs:element name="further" type="dcc:stringWithLangType"/>
            <!--xs:element name="positionCoordinates" type="dcc:positionCoordinatesType"/-->
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="contactType">
        <xs:sequence>
            <xs:element name="heading" type="dcc:stringWithLangType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="companyName" type="dcc:notEmptyStringType" minOccurs="0"/>
            <xs:element name="location" type="dcc:locationType" minOccurs="0"/>
            <xs:element name="contactInfo" type="dcc:contactInfo" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="optional"/>
    </xs:complexType>

    <xs:complexType name="contactInfo">
        <xs:sequence>
            <xs:element name="heading" type="dcc:stringWithLangType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="attPerson" type="dcc:notEmptyStringType" minOccurs="0"/>
            <xs:element name="eMail" type="dcc:notEmptyStringType" minOccurs="0"/>
            <xs:element name="phone" type="dcc:notEmptyStringType" minOccurs="0"/>
            <xs:element name="fax" type="dcc:notEmptyStringType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="optional"/>
    </xs:complexType>

    <xs:complexType name="hashType">
        <xs:sequence>
            <xs:element name="heading" type="dcc:stringWithLangType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="referral" type="dcc:notEmptyStringType"/>
            <xs:element name="referralID" type="dcc:notEmptyStringType"/>
            <xs:element name="procedure" type="dcc:notEmptyStringType"/>
            <xs:element name="value" type="dcc:notEmptyStringType"/>
            <xs:element name="inValidityRange" type="xs:boolean" minOccurs="0"/>
            <xs:element name="traceable" type="xs:boolean" minOccurs="0"/>
            <xs:element name="linkedReport" type="dcc:hashType" minOccurs="0"/>            
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="optional"/>
    </xs:complexType>

    <xs:complexType name="columnType">
        <xs:annotation>
            <xs:documentation>
            Columns for measurement data and annotatin of data. Each column is ordered directly by the customer from the lists of allowed colTypes and measurandTypes.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="heading" type="dcc:stringWithLangType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="unit" type="dcc:unitType" minOccurs="0"/>
            <xs:element name="dataList" type="dcc:dataListType" minOccurs='0' maxOccurs="unbounded">
                <xs:unique name="idx0">
                    <xs:selector xpath="dcc:*"/>
                    <xs:field xpath="@idx"/>
                </xs:unique>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="scope" type="dcc:scopeType" use="required"/>
        <xs:attribute name="dataCategoryRef" type="dcc:dataCategoryType" use="required"/>
        <xs:attribute name="measurand" type="dcc:measurandType" use="required"/>
    </xs:complexType>
        
    <xs:complexType name="dataListType">
        <xs:choice>
            <xs:element name="value">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base='dcc:realDataType'>
                            <xs:attribute name="dataCategory" type="xs:string" fixed="value"/>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="targetValue">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base='dcc:realDataType'>
                            <xs:attribute name="dataCategory" type="xs:string" fixed="targetValue"/>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="expandedUncertainty">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base='dcc:realDataType'>
                            <xs:attribute name="dataCategory" type="xs:string" fixed="expandedUncertainty"/>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="correlation">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base='dcc:realDataType'>
                            <xs:attribute name="dataCategory" type="xs:string" fixed="correlation"/>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="correction">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base='dcc:realDataType'>
                            <xs:attribute name="dataCategory" type="xs:string" fixed="targetValue"/>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="repeatability">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base='dcc:realDataType'>
                            <xs:attribute name="dataCategory" type="xs:string" fixed="repeatability"/>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="conformity">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name='row' minOccurs='0' maxOccurs='unbounded'>
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base='dcc:conformityStatusType'>
                                        <xs:attribute name='idx' type='xs:int'/>
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="dataCategory" type="xs:string" fixed="conformity"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="rowTag" /> 
            <xs:element name="usedReferenceRef" />
            <xs:element name="methodRef" />
            <xs:element name="exceptionRef" type="dcc:exceptionRefType"/> 
            <xs:element name="traceabilityRef" /> 
            <xs:element name="attentionRef" /> 
            <xs:element name="commentRef" /> 
            <xs:element name="decisionRuleRef" /> 
            <xs:element name="accreditationExceptionRef" type="dcc:accreditationExceptionRefType"/> 
            <xs:element name="normRef" /> 
            <xs:element name="measurementSeriesRef" type="dcc:measurementSeriesRefType"/> 
            <xs:element name="uncertaintyCoverageFactor_k" type="dcc:uncertaintyCoverageFactor_kType"/>
            <xs:element name="uncertaintyCoverageProbability" />
            <xs:element name="toleranceLimitLower" />
            <xs:element name="toleranceLimitUpper" />
            <xs:element name="acceptanceLimitLower" />
            <xs:element name="acceptanceLimitUpper" />
            <xs:element name="approachToTarget">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name='row' minOccurs='0' maxOccurs='unbounded'>
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base='dcc:approachToTargetType'>
                                        <xs:attribute name='idx' type='xs:int'/>
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="dataCategory" type="xs:string" fixed="approachToTarget"/>
                </xs:complexType>
            </xs:element>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name='exceptionRefType'>
        <xs:complexContent>
           <xs:extension base='dcc:refDataType'>
              <xs:attribute name="dataCategory" type="xs:string" fixed="exceptionRef"/>
           </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name='accreditationExceptionRefType'>
        <xs:complexContent>
           <xs:extension base='dcc:refDataType'>
              <xs:attribute name="dataCategory" type="xs:string" fixed="accreditationExceptionRef"/>
           </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name='measurementSeriesRefType'>
        <xs:complexContent>
           <xs:extension base='dcc:refDataType'>
              <xs:attribute name="dataCategory" type="xs:string" fixed="measurementSeriesRef"/>
           </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name='uncertaintyCoverageFactor_kType'>
        <xs:complexContent>
           <xs:extension base='dcc:realDataType'>
              <xs:attribute name="dataCategory" type="xs:string" fixed="uncertaintyCoverageFactor_k"/>
           </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name='realDataType'>
        <xs:sequence>
            <xs:element name='row' minOccurs='0' maxOccurs='unbounded'>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base='dcc:decimalType'>
                            <xs:attribute name='idx' type='xs:int'/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name='refDataType'>
        <xs:sequence>
            <xs:element name='row'  minOccurs='0' maxOccurs='unbounded'>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base='xs:IDREF'>
                            <xs:attribute name='idx' type='xs:int'/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="unitType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                BIPM SI brochure unit (9th edition).
                Based on xs:string.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="decimalType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Scientific decimal format for numerical values.
                Based on type xs:double.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:double">
            <xs:pattern value="[-+]?((\d*\.\d+)|(\d+\.\d*)|(\d+\.?))([Ee][-+]?\d+)?"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="yesno">
        <xs:restriction base="xs:string">
            <xs:enumeration value="y"/>
            <xs:enumeration value="n"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="conformityStatusType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="pass"/>
            <xs:enumeration value="fail"/>
            <xs:enumeration value="conditionalPass"/>
            <xs:enumeration value="conditionalFail"/>
            <xs:enumeration value="noPass"/>
            <xs:enumeration value="noFail"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="approachToTargetType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="from above"/>
            <xs:enumeration value="from below"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="stringISO3166Type">
        <xs:annotation>
            <xs:documentation>
                A string that is restricted to two upper case letters that contain a country code as defined in
                ISO 3166-1.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="stringISO639Type">
        <xs:annotation>
            <xs:documentation>
                A string that is restricted to two lower case letters that contain a language code as defined in
                ISO 639.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{2}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="stringWithLangType">
        <xs:annotation>
            <xs:documentation>
                A string element with an additional lang attribute for localization.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="lang" type="dcc:stringISO639Type" use="required"/>
                <xs:attribute name="id" type="xs:ID" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="embeddedFileListType">
        <xs:annotation>
            <xs:documentation>
                List of embedded files
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
			<xs:element name="heading" type="dcc:stringWithLangType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="embeddedImage" type="dcc:embeddedFileType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="embeddedFile" type="dcc:embeddedFileType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="optional"/>
    </xs:complexType>

    <xs:complexType name="embeddedFileType">
        <xs:annotation>
            <xs:documentation>
                The embeddedFileType defines a type which allows to add binary encoded files to the measurement result
                section.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="heading" type="dcc:stringWithLangType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="body" type="dcc:stringWithLangType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="fileExtension" type="dcc:notEmptyStringType"/>
            <xs:element name="fileContent" type="xs:base64Binary"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="optional"/>
    </xs:complexType>


    <xs:simpleType name="scopeType">
        <xs:annotation>
            <xs:documentation>
                The scopeType is restricting the scope attribute of the columnType.
                For data columns the attribute is used to descibe the data.. 
                For meta data columns the attribute is used to match the data column(s) that is enriched with the meta data. 
				
				* reference  : Data relating to the reference equipment. E.g. measured value or uncertainty of the reference.
				* indication : Data relating to the device under test. E.g. nominal value of an artefact or display value of an active instrument
				* bias       : Data relating to the difference item_value - reference_value. 
								E.g. the calibration result (bias of the item and its uncertainty.)
				* environment: Influece conditions measured in the environment . E.g. laboratory temperature, pressure etc...
				* Other      : the content may be specified in the column name in human readable form.
				* '-'        : Used for meta data columns to refer to all scopes
            </xs:documentation>
        </xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="reference" /> 
			<xs:enumeration value="indication" /> 
			<xs:enumeration value="bias" /> 
			<xs:enumeration value="environment" /> 
			<xs:enumeration value="Other" />  
			<xs:enumeration value="-" />  
		</xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="dataCategoryType">
        <xs:annotation>
            <xs:documentation>
                The dataCategoryType is restricting the value of the dataCategory attribute of the columnType.
                For data columns this attribute is used to describe the data.
                For meta data columns the attribute is used to match the data column(s) that is enriched with the meta data. 
            </xs:documentation>
        </xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="-" /> <!-- used for meta data columns to match data columns with any dataCategory -->
			<xs:enumeration value="value" />  <!-- used for measured quantities -->
			<xs:enumeration value="targetValue" /> <!-- used for predefined calibration points, typically agreed with the client before calibration -->
			<xs:enumeration value="expandedUncertainty" /> 
			<xs:enumeration value="repeatability" /> 
			<xs:enumeration value="correction" />   <!-- used together with the bias scope to express a correction for bias for material measures.-->
			<xs:enumeration value="conformity" />   <!-- used for pass/fail assesment of the calibration. Typically used in conjunction with a meta data column refering to a statement with description of the assesment basis. --> 
			<xs:enumeration value="correlation" /> 
			<xs:enumeration value="rowTag" /> 
			<xs:enumeration value="usedReferenceRef" />
			<xs:enumeration value="methodRef" />
			<xs:enumeration value="exceptionRef" /> 
			<xs:enumeration value="traceabilityRef" /> 
			<xs:enumeration value="attentionRef" /> 
			<xs:enumeration value="commentRef" /> 
			<xs:enumeration value="decisionRuleRef" /> 
			<xs:enumeration value="accreditationExceptionRef" /> 
			<xs:enumeration value="normRef" /> 
			<xs:enumeration value="measurementSeriesRef" /> 
			<xs:enumeration value="uncertaintyCoverageFactor_k" />
			<xs:enumeration value="uncertaintyCoverageProbability" />
			<xs:enumeration value="toleranceLimitLower" />
			<xs:enumeration value="toleranceLimitUpper" />
			<xs:enumeration value="acceptanceLimitLower" />
			<xs:enumeration value="acceptanceLimitUpper" />
			<xs:enumeration value="approachToTarget" />
			<xs:enumeration value="other" />  <!--the content may be specified in the column name in human readable form -->
		</xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="serviceCategoryType">
        <xs:annotation>
            <xs:documentation>
                The measurandType is restricting the value of the serviceCategory attribute of the tableType.
            </xs:documentation>
        </xs:annotation>
            <xs:restriction base="xs:string">
               <xs:enumeration value="AUV/A-1.1.1" />
               <xs:enumeration value="AUV/A-1.1.2" />
               <xs:enumeration value="AUV/A-1.2.1" />
               <xs:enumeration value="AUV/A-1.2.2" />
               <xs:enumeration value="AUV/A-1.2.3" />
               <xs:enumeration value="AUV/A-1.3.1" />
               <xs:enumeration value="AUV/A-1.3.2" />
               <xs:enumeration value="AUV/A-2.1.1" />
               <xs:enumeration value="AUV/A-2.2.1" />
               <xs:enumeration value="AUV/A-3.1.1" />
               <xs:enumeration value="AUV/A-3.1.2" />
               <xs:enumeration value="AUV/A-3.1.3" />
               <xs:enumeration value="AUV/A-3.1.4" />
               <xs:enumeration value="AUV/A-4.1.1" />
               <xs:enumeration value="AUV/A-4.1.2" />
               <xs:enumeration value="AUV/A-4.2.1" />
               <xs:enumeration value="AUV/A-4.2.2" />
               <xs:enumeration value="AUV/A-4.3.1" />
               <xs:enumeration value="AUV/A-4.3.2" />
               <xs:enumeration value="AUV/A-4.4.1" />
               <xs:enumeration value="AUV/A-4.4.2" />
               <xs:enumeration value="AUV/A-5.1.1" />
               <xs:enumeration value="AUV/A-5.1.2" />
               <xs:enumeration value="AUV/A-6.1.1" />
               <xs:enumeration value="AUV/A-6.1.2" />
               <xs:enumeration value="AUV/W-11.1.1" />
               <xs:enumeration value="AUV/W-11.1.2" />
               <xs:enumeration value="AUV/W-11.2.1" />
               <xs:enumeration value="AUV/W-11.2.2" />
               <xs:enumeration value="AUV/W-12.1.1" />
               <xs:enumeration value="AUV/W-12.1.2" />
               <xs:enumeration value="AUV/W-12.2.1" />
               <xs:enumeration value="AUV/W-12.2.2" />
               <xs:enumeration value="AUV/W-13.1.1" />
               <xs:enumeration value="AUV/W-13.1.2" />
               <xs:enumeration value="AUV/W-13.1.3" />
               <xs:enumeration value="AUV/W-14.1.1" />
               <xs:enumeration value="AUV/W-14.1.2" />
               <xs:enumeration value="AUV/W-14.1.3" />
               <xs:enumeration value="AUV/V-21.1.1" />
               <xs:enumeration value="AUV/V-21.1.2" />
               <xs:enumeration value="AUV/V-21.2.1" />
               <xs:enumeration value="AUV/V-21.2.2" />
               <xs:enumeration value="AUV/V-21.3.1" />
               <xs:enumeration value="AUV/V-21.3.2" />
               <xs:enumeration value="AUV/V-21.3.3" />
               <xs:enumeration value="AUV/V-21.3.4" />
               <xs:enumeration value="AUV/V-21.3.5" />
               <xs:enumeration value="AUV/V-21.4.1" />
               <xs:enumeration value="AUV/V-21.4.2" />
               <xs:enumeration value="AUV/V-22.1.1" />
               <xs:enumeration value="AUV/V-22.1.2" />
               <xs:enumeration value="AUV/V-22.2.1" />
               <xs:enumeration value="AUV/V-22.3.1" />
               <xs:enumeration value="AUV/V-22.3.3" />
               <xs:enumeration value="AUV/V-22.3.5" />
               <xs:enumeration value="AUV/V-22.4.1" />
               <xs:enumeration value="AUV/V-23.1.1" />
               <xs:enumeration value="AUV/V-23.1.2" />
               <xs:enumeration value="AUV/V-23.2.1" />
               <xs:enumeration value="AUV/V-23.2.2" />
               <xs:enumeration value="AUV/V-23.2.3" />
               <xs:enumeration value="AUV/V-23.2.4" />
               <xs:enumeration value="AUV/V-30.1.1" />
               <xs:enumeration value="AUV/V-30.1.2" />
               <xs:enumeration value="AUV/V-30.1.3" />
               <xs:enumeration value="EM/DC-1.1.1" />
               <xs:enumeration value="EM/DC-1.1.2" />
               <xs:enumeration value="EM/DC-1.1.3" />
               <xs:enumeration value="EM/DC-1.1.4" />
               <xs:enumeration value="EM/DC-1.2.1" />
               <xs:enumeration value="EM/DC-1.2.2" />
               <xs:enumeration value="EM/DC-1.3.1" />
               <xs:enumeration value="EM/DC-1.3.2" />
               <xs:enumeration value="EM/DC-2.1.1" />
               <xs:enumeration value="EM/DC-2.1.2" />
               <xs:enumeration value="EM/DC-2.1.3" />
               <xs:enumeration value="EM/DC-2.1.4" />
               <xs:enumeration value="EM/DC-2.1.5" />
               <xs:enumeration value="EM/DC-2.1.6" />
               <xs:enumeration value="EM/DC-2.2.1" />
               <xs:enumeration value="EM/DC-2.2.2" />
               <xs:enumeration value="EM/DC-2.2.3" />
               <xs:enumeration value="EM/DC-2.3.1" />
               <xs:enumeration value="EM/DC-3.1.1" />
               <xs:enumeration value="EM/DC-3.1.2" />
               <xs:enumeration value="EM/DC-3.1.3" />
               <xs:enumeration value="EM/DC-3.1.4" />
               <xs:enumeration value="EM/DC-3.1.5" />
               <xs:enumeration value="EM/DC-3.2.1" />
               <xs:enumeration value="EM/DC-3.2.2" />
               <xs:enumeration value="EM/DC-3.2.3" />
               <xs:enumeration value="EM/DC-3.3.1" />
               <xs:enumeration value="EM/Imped-4.1.1" />
               <xs:enumeration value="EM/Imped-4.1.2" />
               <xs:enumeration value="EM/Imped-4.1.3" />
               <xs:enumeration value="EM/Imped-4.1.4" />
               <xs:enumeration value="EM/Imped-4.1.5" />
               <xs:enumeration value="EM/Imped-4.2.1" />
               <xs:enumeration value="EM/Imped-4.2.2" />
               <xs:enumeration value="EM/Imped-4.2.3" />
               <xs:enumeration value="EM/Imped-4.2.4" />
               <xs:enumeration value="EM/Imped-4.3.1" />
               <xs:enumeration value="EM/Imped-4.3.2" />
               <xs:enumeration value="EM/Imped-4.3.3" />
               <xs:enumeration value="EM/Imped-4.3.4" />
               <xs:enumeration value="EM/Imped-4.3.5" />
               <xs:enumeration value="EM/Imped-4.3.6" />
               <xs:enumeration value="EM/AC-5.1.1" />
               <xs:enumeration value="EM/AC-5.1.2" />
               <xs:enumeration value="EM/AC-5.1.3" />
               <xs:enumeration value="EM/AC-5.2.1" />
               <xs:enumeration value="EM/AC-5.2.2" />
               <xs:enumeration value="EM/AC-5.3.1" />
               <xs:enumeration value="EM/AC-5.3.2" />
               <xs:enumeration value="EM/AC-6.1.1" />
               <xs:enumeration value="EM/AC-6.2.1" />
               <xs:enumeration value="EM/AC-6.2.2" />
               <xs:enumeration value="EM/AC-6.3.1" />
               <xs:enumeration value="EM/AC-7.1.1" />
               <xs:enumeration value="EM/AC-7.1.2" />
               <xs:enumeration value="EM/AC-7.1.3" />
               <xs:enumeration value="EM/HV-8.1.1" />
               <xs:enumeration value="EM/HV-8.1.2" />
               <xs:enumeration value="EM/HV-8.1.3" />
               <xs:enumeration value="EM/HV-8.1.4" />
               <xs:enumeration value="EM/HV-8.1.5" />
               <xs:enumeration value="EM/HV-8.2.1" />
               <xs:enumeration value="EM/HV-8.2.2" />
               <xs:enumeration value="EM/HV-8.2.3" />
               <xs:enumeration value="EM/HV-8.2.4" />
               <xs:enumeration value="EM/HV-8.3.1" />
               <xs:enumeration value="EM/HV-8.3.2" />
               <xs:enumeration value="EM/HV-8.3.3" />
               <xs:enumeration value="EM/HV-8.3.4" />
               <xs:enumeration value="EM/HV-8.3.5" />
               <xs:enumeration value="EM/HV-8.3.6" />
               <xs:enumeration value="EM/HV-8.4.1" />
               <xs:enumeration value="EM/HV-8.4.3" />
               <xs:enumeration value="EM/HV-8.4.5" />
               <xs:enumeration value="EM/HV-8.4.9" />
               <xs:enumeration value="EM/HV-8.5.1" />
               <xs:enumeration value="EM/HV-8.5.2" />
               <xs:enumeration value="EM/HV-8.5.3" />
               <xs:enumeration value="EM/HV-8.6.3" />
               <xs:enumeration value="EM/HV-8.6.5" />
               <xs:enumeration value="EM/HV-8.6.6" />
               <xs:enumeration value="EM/HV-8.7.3" />
               <xs:enumeration value="EM/HV-8.7.4" />
               <xs:enumeration value="EM/OtherDC-9.1.1" />
               <xs:enumeration value="EM/OtherDC-9.1.2" />
               <xs:enumeration value="EM/OtherDC-9.2.1" />
               <xs:enumeration value="EM/OtherDC-9.2.2" />
               <xs:enumeration value="EM/OtherDC-9.2.3" />
               <xs:enumeration value="EM/OtherDC-9.3.1" />
               <xs:enumeration value="EM/OtherDC-9.3.2" />
               <xs:enumeration value="EM/OtherDC-9.3.4" />
               <xs:enumeration value="EM/OtherDC-9.3.5" />
               <xs:enumeration value="EM/OtherDC-9.3.7" />
               <xs:enumeration value="EM/Field-10.1.1" />
               <xs:enumeration value="EM/Field-10.1.2" />
               <xs:enumeration value="EM/Field-10.2.1" />
               <xs:enumeration value="EM/Field-10.2.2" />
               <xs:enumeration value="EM/Field-10.2.3" />
               <xs:enumeration value="EM/Field-10.2.4" />
               <xs:enumeration value="EM/Field-10.2.5" />
               <xs:enumeration value="EM/Field-10.2.6" />
               <xs:enumeration value="EM/Field-10.2.7" />
               <xs:enumeration value="EM/Field-10.2.8" />
               <xs:enumeration value="EM/Field-10.3.1" />
               <xs:enumeration value="EM/Field-10.3.2" />
               <xs:enumeration value="EM/Field-10.3.3" />
               <xs:enumeration value="EM/Field-10.3.4" />
               <xs:enumeration value="EM/Field-10.3.5" />
               <xs:enumeration value="EM/Field-10.3.6" />
               <xs:enumeration value="EM/RF-11.1.1" />
               <xs:enumeration value="EM/RF-11.1.2" />
               <xs:enumeration value="EM/RF-11.1.3" />
               <xs:enumeration value="EM/RF-11.1.4" />
               <xs:enumeration value="EM/RF-11.1.5" />
               <xs:enumeration value="EM/RF-11.1.6" />
               <xs:enumeration value="EM/RF-11.2.1" />
               <xs:enumeration value="EM/RF-11.2.2" />
               <xs:enumeration value="EM/RF-11.2.3" />
               <xs:enumeration value="EM/RF-11.2.4" />
               <xs:enumeration value="EM/RF-11.2.5" />
               <xs:enumeration value="EM/RF-11.2.6" />
               <xs:enumeration value="EM/RF-11.3.1" />
               <xs:enumeration value="EM/RF-11.3.2" />
               <xs:enumeration value="EM/RF-11.3.3" />
               <xs:enumeration value="EM/RF-11.3.4" />
               <xs:enumeration value="EM/RF-11.3.5" />
               <xs:enumeration value="EM/RF-11.3.6" />
               <xs:enumeration value="EM/RF-11.3.7" />
               <xs:enumeration value="EM/RF-11.3.8" />
               <xs:enumeration value="EM/RF-11.3.9" />
               <xs:enumeration value="EM/RF-11.4.1" />
               <xs:enumeration value="EM/RF-11.4.2" />
               <xs:enumeration value="EM/RF-11.4.3" />
               <xs:enumeration value="EM/RF-11.4.4" />
               <xs:enumeration value="EM/RF-11.4.5" />
               <xs:enumeration value="EM/RF-11.5.1" />
               <xs:enumeration value="EM/RF-11.5.2" />
               <xs:enumeration value="EM/RF-11.5.3" />
               <xs:enumeration value="EM/RF-11.6.1" />
               <xs:enumeration value="EM/RF-11.6.2" />
               <xs:enumeration value="EM/RF-11.6.3" />
               <xs:enumeration value="EM/RF-11.6.4" />
               <xs:enumeration value="EM/RF-11.7.1" />
               <xs:enumeration value="EM/RF-11.7.2" />
               <xs:enumeration value="EM/RF-11.7.3" />
               <xs:enumeration value="EM/RF-11.7.4" />
               <xs:enumeration value="EM/RF-11.7.5" />
               <xs:enumeration value="EM/RF-11.7.6" />
               <xs:enumeration value="EM/RF-11.7.7" />
               <xs:enumeration value="EM/RF-11.7.8" />
               <xs:enumeration value="EM/RF-11.7.9" />
               <xs:enumeration value="EM/RF-11.8.1" />
               <xs:enumeration value="EM/RF-11.8.2" />
               <xs:enumeration value="EM/RF-11.8.3" />
               <xs:enumeration value="EM/RF-11.8.4" />
               <xs:enumeration value="EM/RF-11.9.1" />
               <xs:enumeration value="EM/RF-11.9.2" />
               <xs:enumeration value="EM/Mater-12.1.1" />
               <xs:enumeration value="EM/Mater-12.1.2" />
               <xs:enumeration value="EM/Mater-12.1.3" />
               <xs:enumeration value="EM/Mater-12.2.1" />
               <xs:enumeration value="EM/Mater-12.2.2" />
               <xs:enumeration value="EM/Mater-12.3.1" />
               <xs:enumeration value="EM/Mater-12.3.2" />
               <xs:enumeration value="EM/Mater-12.3.3" />
               <xs:enumeration value="EM/Mater-12.3.4" />
               <xs:enumeration value="EM/Mater-12.3.5" />
               <xs:enumeration value="EM/Mater-12.3.6" />
               <xs:enumeration value="EM/Mater-12.3.7" />
               <xs:enumeration value="EM/Mater-12.3.8" />
               <xs:enumeration value="EM/Mater-12.3.9" />
               <xs:enumeration value="EM/Mater-12.3.10" />
               <xs:enumeration value="EM/Mater-12.4.1" />
               <xs:enumeration value="EM/Mater-12.4.2" />
               <xs:enumeration value="EM/Mater-12.4.3" />
               <xs:enumeration value="EM/Mater-12.4.4" />
               <xs:enumeration value="EM/Mater-12.4.5" />
               <xs:enumeration value="EM/Mater-12.4.6" />
               <xs:enumeration value="EM/Mater-12.5.1" />
               <xs:enumeration value="EM/Mater-12.6.1" />
               <xs:enumeration value="EM/Mater-12.6.2" />
               <xs:enumeration value="EM/Mater-12.6.3" />
               <xs:enumeration value="EM/Mater-12.6.4" />
               <xs:enumeration value="EM/Mater-12.6.5" />
               <xs:enumeration value="EM/Mater-12.6.6" />
               <xs:enumeration value="EM/Mater-12.6.7" />
               <xs:enumeration value="EM/Mater-12.7.1" />
               <xs:enumeration value="EM/Mater-12.7.2" />
               <xs:enumeration value="EM/Mater-12.7.3" />
               <xs:enumeration value="EM/Mater-12.7.4" />
               <xs:enumeration value="EM/Mater-12.7.5" />
               <xs:enumeration value="EM/Mater-12.7.6" />
               <xs:enumeration value="EM/Mater-12.7.7" />
               <xs:enumeration value="EM/Mater-12.7.8" />
               <xs:enumeration value="L/Laser-1.1.1" />
               <xs:enumeration value="L/Laser-1.2.1" />
               <xs:enumeration value="L/DimMet-2.1.1" />
               <xs:enumeration value="L/DimMet-2.1.2" />
               <xs:enumeration value="L/DimMet-2.1.3" />
               <xs:enumeration value="L/DimMet-2.1.4" />
               <xs:enumeration value="L/DimMet-2.1.5" />
               <xs:enumeration value="L/DimMet-2.1.6" />
               <xs:enumeration value="L/DimMet-2.1.7" />
               <xs:enumeration value="L/DimMet-2.2.1" />
               <xs:enumeration value="L/DimMet-2.2.2" />
               <xs:enumeration value="L/DimMet-2.2.3" />
               <xs:enumeration value="L/DimMet-2.2.4" />
               <xs:enumeration value="L/DimMet-2.2.5" />
               <xs:enumeration value="L/DimMet-2.2.6" />
               <xs:enumeration value="L/DimMet-2.3.1" />
               <xs:enumeration value="L/DimMet-2.3.2" />
               <xs:enumeration value="L/DimMet-2.3.3" />
               <xs:enumeration value="L/DimMet-2.3.4" />
               <xs:enumeration value="L/DimMet-2.3.5" />
               <xs:enumeration value="L/DimMet-2.3.6" />
               <xs:enumeration value="L/DimMet-2.3.7" />
               <xs:enumeration value="L/DimMet-2.3.8" />
               <xs:enumeration value="L/DimMet-2.3.9" />
               <xs:enumeration value="L/DimMet-2.4.1" />
               <xs:enumeration value="L/DimMet-2.4.2" />
               <xs:enumeration value="L/DimMet-2.4.3" />
               <xs:enumeration value="L/DimMet-2.5.1" />
               <xs:enumeration value="L/DimMet-3.1.1" />
               <xs:enumeration value="L/DimMet-3.1.2" />
               <xs:enumeration value="L/DimMet-3.1.3" />
               <xs:enumeration value="L/DimMet-3.2.1" />
               <xs:enumeration value="L/DimMet-3.3.1" />
               <xs:enumeration value="L/DimMet-3.3.2" />
               <xs:enumeration value="L/DimMet-3.3.3" />
               <xs:enumeration value="L/DimMet-3.3.4" />
               <xs:enumeration value="L/DimMet-3.3.5" />
               <xs:enumeration value="L/DimMet-3.3.6" />
               <xs:enumeration value="L/DimMet-3.3.7" />
               <xs:enumeration value="L/DimMet-3.4.1" />
               <xs:enumeration value="L/DimMet-3.4.2" />
               <xs:enumeration value="L/DimMet-3.4.3" />
               <xs:enumeration value="L/DimMet-3.4.4" />
               <xs:enumeration value="L/DimMet-3.5.1" />
               <xs:enumeration value="L/DimMet-3.5.2" />
               <xs:enumeration value="L/DimMet-4.1.1" />
               <xs:enumeration value="L/DimMet-4.1.2" />
               <xs:enumeration value="L/DimMet-4.1.3" />
               <xs:enumeration value="L/DimMet-4.2.1" />
               <xs:enumeration value="L/DimMet-4.2.2" />
               <xs:enumeration value="L/DimMet-4.2.3" />
               <xs:enumeration value="L/DimMet-4.2.4" />
               <xs:enumeration value="L/DimMet-4.3.1" />
               <xs:enumeration value="L/DimMet-4.3.2" />
               <xs:enumeration value="L/DimMet-4.3.3" />
               <xs:enumeration value="L/DimMet-4.4.1" />
               <xs:enumeration value="L/DimMet-4.4.2" />
               <xs:enumeration value="L/DimMet-4.5.1" />
               <xs:enumeration value="L/DimMet-5.1.1" />
               <xs:enumeration value="L/DimMet-5.1.2" />
               <xs:enumeration value="L/DimMet-5.1.3" />
               <xs:enumeration value="L/DimMet-5.1.4" />
               <xs:enumeration value="L/DimMet-5.1.5" />
               <xs:enumeration value="L/DimMet-5.1.6" />
               <xs:enumeration value="L/DimMet-5.2.1" />
               <xs:enumeration value="L/DimMet-5.2.2" />
               <xs:enumeration value="L/DimMet-5.2.3" />
               <xs:enumeration value="L/DimMet-5.2.4" />
               <xs:enumeration value="L/DimMet-5.2.5" />
               <xs:enumeration value="L/DimMet-5.2.6" />
               <xs:enumeration value="L/DimMet-5.3.1" />
               <xs:enumeration value="L/DimMet-5.3.2" />
               <xs:enumeration value="L/DimMet-5.3.3" />
               <xs:enumeration value="L/DimMet-5.3.4" />
               <xs:enumeration value="L/DimMet-5.3.5" />
               <xs:enumeration value="L/DimMet-5.4.1" />
               <xs:enumeration value="L/DimMet-5.4.2" />
               <xs:enumeration value="L/DimMet-5.4.3" />
               <xs:enumeration value="L/DimMet-5.4.4" />
               <xs:enumeration value="L/DimMet-5.4.5" />
               <xs:enumeration value="L/DimMet-5.5.1" />
               <xs:enumeration value="L/DimMet-5.5.2" />
               <xs:enumeration value="L/DimMet-5.5.3" />
               <xs:enumeration value="L/DimMet-5.5.4" />
               <xs:enumeration value="L/DimMet-5.5.5" />
               <xs:enumeration value="L/DimMet-5.5.6" />
               <xs:enumeration value="L/DimMet-5.5.7" />
               <xs:enumeration value="L/DimMet-5.5.8" />
               <xs:enumeration value="L/DimMet-5.6.1" />
               <xs:enumeration value="L/DimMet-6.1.1" />
               <xs:enumeration value="L/DimMet-6.1.2" />
               <xs:enumeration value="L/DimMet-6.1.3" />
               <xs:enumeration value="L/DimMet-6.1.4" />
               <xs:enumeration value="L/DimMet-6.1.5" />
               <xs:enumeration value="L/DimMet-6.1.6" />
               <xs:enumeration value="L/DimMet-6.1.7" />
               <xs:enumeration value="L/DimMet-6.1.8" />
               <xs:enumeration value="L/DimMet-6.1.9" />
               <xs:enumeration value="L/DimMet-6.2.1" />
               <xs:enumeration value="L/DimMet-6.3.1" />
               <xs:enumeration value="L/DimMet-6.4.1" />
               <xs:enumeration value="L/DimMet-6.5.1" />
               <xs:enumeration value="L/DimMet-6.5.2" />
               <xs:enumeration value="L/DimMet-6.6.1" />
               <xs:enumeration value="L/DimMet-6.7.1" />
               <xs:enumeration value="L/DimMet-6.7.2" />
               <xs:enumeration value="M/Mass-1.1.1" />
               <xs:enumeration value="M/Dens-2.1.1" />
               <xs:enumeration value="M/Dens-2.1.2" />
               <xs:enumeration value="M/Dens-2.2.1" />
               <xs:enumeration value="M/Dens-2.2.2" />
               <xs:enumeration value="M/Dens-2.3.3" />
               <xs:enumeration value="M/Pres-3.1.1" />
               <xs:enumeration value="M/Pres-3.1.2" />
               <xs:enumeration value="M/Pres-3.2.1" />
               <xs:enumeration value="M/Pres-3.2.2" />
               <xs:enumeration value="M/Pres-3.3.1" />
               <xs:enumeration value="M/Pres-3.3.2" />
               <xs:enumeration value="M/Pres-3.4.1" />
               <xs:enumeration value="M/Pres-3.4.2" />
               <xs:enumeration value="M/Force-4.1.1" />
               <xs:enumeration value="M/Force-4.2.1" />
               <xs:enumeration value="M/Force-4.3.1" />
               <xs:enumeration value="M/Tor-5.1.1" />
               <xs:enumeration value="M/Vis-6.1.1" />
               <xs:enumeration value="M/Vis-6.2.1" />
               <xs:enumeration value="M/Vis-6.3.1" />
               <xs:enumeration value="M/Har-7.1.1" />
               <xs:enumeration value="M/Gra-8.1.1" />
               <xs:enumeration value="M/FF-9.10.1" />
               <xs:enumeration value="M/FF-9.10.2" />
               <xs:enumeration value="M/FF-9.10.3" />
               <xs:enumeration value="M/FF-9.10.4" />
               <xs:enumeration value="M/FF-9.10.5" />
               <xs:enumeration value="M/FF-9.10.6" />
               <xs:enumeration value="PR/Detector-1.1.1" />
               <xs:enumeration value="PR/Detector-1.2.1" />
               <xs:enumeration value="PR/Detector-1.3.1" />
               <xs:enumeration value="PR/Detector-1.3.2" />
               <xs:enumeration value="PR/Detector-1.4.1" />
               <xs:enumeration value="PR/Detector-1.5.1" />
               <xs:enumeration value="PR/Detector-1.6.0" />
               <xs:enumeration value="PR/Detector-1.7.1" />
               <xs:enumeration value="PR/Detector-1.8.0" />
               <xs:enumeration value="PR/Detector-1.8.1" />
               <xs:enumeration value="PR/Detector-2.1.1" />
               <xs:enumeration value="PR/Detector-2.2.2" />
               <xs:enumeration value="PR/Detector-2.2.3" />
               <xs:enumeration value="PR/Detector-2.3.0" />
               <xs:enumeration value="PR/Detector-2.4.0" />
               <xs:enumeration value="PR/Detector-2.5.0" />
               <xs:enumeration value="PR/Detector-2.6.0" />
               <xs:enumeration value="PR/Detector-2.7.0" />
               <xs:enumeration value="PR/Detector-2.7.1" />
               <xs:enumeration value="PR/Detector-2.8.0" />
               <xs:enumeration value="PR/Detector-2.9.0" />
               <xs:enumeration value="PR/Detector-2.10.0" />
               <xs:enumeration value="PR/Detector-2.11.0" />
               <xs:enumeration value="PR/Detector-3.1.1" />
               <xs:enumeration value="PR/Detector-3.1.2" />
               <xs:enumeration value="PR/Detector-3.2.1" />
               <xs:enumeration value="PR/Detector-3.2.2" />
               <xs:enumeration value="PR/Detector-3.2.3" />
               <xs:enumeration value="PR/Detector-3.3.1" />
               <xs:enumeration value="PR/Detector-3.4.1" />
               <xs:enumeration value="PR/Detector-3.4.2" />
               <xs:enumeration value="PR/Detector-3.5.0" />
               <xs:enumeration value="PR/Detector-3.5.1" />
               <xs:enumeration value="PR/Detector-5.1.0" />
               <xs:enumeration value="PR/Detector-5.2.1" />
               <xs:enumeration value="PR/Detector-5.3.0" />
               <xs:enumeration value="PR/Detector-5.4.0" />
               <xs:enumeration value="PR/Detector-5.4.1" />
               <xs:enumeration value="PR/Detector-5.4.2" />
               <xs:enumeration value="PR/Detector-5.4.3" />
               <xs:enumeration value="PR/Detector-5.5.0" />
               <xs:enumeration value="PR/Detector-5.6.0" />
               <xs:enumeration value="PR/Detector-5.7.0" />
               <xs:enumeration value="PR/Detector-5.8.0" />
               <xs:enumeration value="PR/Detector-5.8.1" />
               <xs:enumeration value="PR/Mater-4.1.1" />
               <xs:enumeration value="PR/Mater-4.2.1" />
               <xs:enumeration value="PR/Mater-4.3.1" />
               <xs:enumeration value="PR/Mater-4.4.1" />
               <xs:enumeration value="PR/Mater-4.5.1" />
               <xs:enumeration value="PR/Mater-4.6.1" />
               <xs:enumeration value="PR/Mater-4.7.1" />
               <xs:enumeration value="PR/Mater-4.9.0" />
               <xs:enumeration value="PR/Mater-4.10.0" />
               <xs:enumeration value="PR/Mater-4.11.0" />
               <xs:enumeration value="PR/Mater-4.12.0" />
               <xs:enumeration value="PR/Mater-4.13.0" />
               <xs:enumeration value="PR/Mater-4.13.1" />
               <xs:enumeration value="PR/Mater-4.14.0" />
               <xs:enumeration value="PR/Mater-4.15.0" />
               <xs:enumeration value="PR/Mater-4.15.1" />
               <xs:enumeration value="PR/Mater-4.16.0" />
               <xs:enumeration value="PR/Mater-4.17.0" />
               <xs:enumeration value="PR/Mater-4.17.1" />
               <xs:enumeration value="PR/Mater-4.18.0" />
               <xs:enumeration value="PR/Mater-6.1.0" />
               <xs:enumeration value="PR/Mater-6.1.1" />
               <xs:enumeration value="PR/Mater-6.1.2" />
               <xs:enumeration value="PR/Mater-6.2.0" />
               <xs:enumeration value="PR/Mater-6.2.1" />
               <xs:enumeration value="PR/Mater-6.2.2" />
               <xs:enumeration value="PR/Mater-6.3.0" />
               <xs:enumeration value="PR/Mater-6.4.0" />
               <xs:enumeration value="PR/Mater-6.5.0" />
               <xs:enumeration value="PR/Mater-6.6.0" />
               <xs:enumeration value="PR/Mater-6.7.0" />
               <xs:enumeration value="PR/Mater-6.9.0" />
               <xs:enumeration value="PR/Mater-6.10.0" />
               <xs:enumeration value="PR/Mater-6.12.0" />
               <xs:enumeration value="PR/Fibre-7.1.0" />
               <xs:enumeration value="PR/Fibre-7.2.0" />
               <xs:enumeration value="PR/Fibre-7.2.1" />
               <xs:enumeration value="PR/Fibre-7.2.2" />
               <xs:enumeration value="PR/Fibre-7.5.0" />
               <xs:enumeration value="PR/Fibre-7.5.1" />
               <xs:enumeration value="PR/Fibre-7.7.0" />
               <xs:enumeration value="PR/Fibre-7.7.1" />
               <xs:enumeration value="PR/Fibre-7.7.2" />
               <xs:enumeration value="PR/Fibre-7.10.0" />
               <xs:enumeration value="PR/Fibre-7.10.1" />
               <xs:enumeration value="PR/Fibre-7.11.0" />
               <xs:enumeration value="PR/Fibre-7.11.1" />
               <xs:enumeration value="T/T-1.1.1" />
               <xs:enumeration value="T/T-1.1.2" />
               <xs:enumeration value="T/T-1.2.1" />
               <xs:enumeration value="T/T-1.2.2" />
               <xs:enumeration value="T/T-1.3.1" />
               <xs:enumeration value="T/T-1.3.2" />
               <xs:enumeration value="T/T-1.4.1" />
               <xs:enumeration value="T/T-2.1.1" />
               <xs:enumeration value="T/T-2.2.1" />
               <xs:enumeration value="T/T-2.2.2" />
               <xs:enumeration value="T/T-2.2.3" />
               <xs:enumeration value="T/T-2.3.1" />
               <xs:enumeration value="T/T-2.3.2" />
               <xs:enumeration value="T/T-2.3.3" />
               <xs:enumeration value="T/T-2.4.1" />
               <xs:enumeration value="T/T-2.5.1" />
               <xs:enumeration value="T/T-2.5.2" />
               <xs:enumeration value="T/T-2.5.3" />
               <xs:enumeration value="T/T-2.5.4" />
               <xs:enumeration value="T/T-2.6.1" />
               <xs:enumeration value="T/T-2.6.2" />
               <xs:enumeration value="T/T-2.7.1" />
               <xs:enumeration value="T/T-2.8.1" />
               <xs:enumeration value="T/T-2.8.2" />
               <xs:enumeration value="T/T-2.8.3" />
               <xs:enumeration value="T/T-2.8.4" />
               <xs:enumeration value="T/T-2.8.5" />
               <xs:enumeration value="T/T-2.8.6" />
               <xs:enumeration value="T/H-3.1.1" />
               <xs:enumeration value="T/H-3.2.1" />
               <xs:enumeration value="T/H-3.3.1" />
               <xs:enumeration value="T/H-3.4.1" />
               <xs:enumeration value="T/H-4.1.1" />
               <xs:enumeration value="T/H-4.2.1" />
               <xs:enumeration value="T/H-4.3.1" />
               <xs:enumeration value="T/H-4.4.1" />
               <xs:enumeration value="T/H-5.1.1" />
               <xs:enumeration value="T/H-5.2.1" />
               <xs:enumeration value="T/TQ-6.1.1" />
               <xs:enumeration value="T/TQ-6.1.2" />
               <xs:enumeration value="T/TQ-6.2.1" />
               <xs:enumeration value="T/TQ-6.2.2" />
               <xs:enumeration value="T/TQ-6.2.3" />
               <xs:enumeration value="T/TQ-6.3.1" />
               <xs:enumeration value="T/TQ-6.3.2" />
               <xs:enumeration value="T/TQ-6.4.1" />
               <xs:enumeration value="TF/TSD-1.1.1" />
               <xs:enumeration value="TF/TSD-1.1.2" />
               <xs:enumeration value="TF/TSD-1.2.1" />
               <xs:enumeration value="TF/TSD-1.2.2" />
               <xs:enumeration value="TF/F-2.1.1" />
               <xs:enumeration value="TF/F-2.1.2" />
               <xs:enumeration value="TF/F-2.2.1" />
               <xs:enumeration value="TF/F-2.3.1" />
               <xs:enumeration value="TF/TI-3.1.1" />
               <xs:enumeration value="TF/TI-3.2.1" />
               <xs:enumeration value="TF/TI-3.2.2" />
               <xs:enumeration value="TF/TI-3.2.3" />
               <xs:enumeration value="TF/TI-3.2.4" />
               <xs:enumeration value="TF/TI-3.3.1" />
               <xs:enumeration value="TF/TI-3.4.1" />
               <xs:enumeration value="TF/TI-3.4.2" />
               <xs:enumeration value="TF/TI-3.4.3" />
               <xs:enumeration value="TF/TI-3.4.4" />
               <xs:enumeration value="custom" />  
            </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="measurandType">
        <xs:annotation>
            <xs:documentation>
                The measurandType is restricting the value of the measurand attribute of the columnType.
                For data columns this attribute is used to describe the data.
                For meta data columns the attribute is used to match the data column(s) that is enriched with the meta data. 
            </xs:documentation>
        </xs:annotation>
            <xs:restriction base="xs:string">
				<xs:enumeration value="-" />
				<xs:enumeration value="Capacitance" />
				<xs:enumeration value="Conductance" />
				<xs:enumeration value="Conductivity" />
				<xs:enumeration value="Current.AC" />
				<xs:enumeration value="Current.AC.Sinewave" />
				<xs:enumeration value="Current.AC.Squarewave" />
				<xs:enumeration value="Current.AC.Trianglewave" />
				<xs:enumeration value="Current.DC" />
				<xs:enumeration value="Density.Mass.Gas" />
				<xs:enumeration value="Density.Mass.Liquid" />
				<xs:enumeration value="Density.Mass.Solid" />
				<xs:enumeration value="Force" />
				<xs:enumeration value="Frequency" />
				<xs:enumeration value="Frequency.AmplitudeModulation.Rate" />
				<xs:enumeration value="Frequency.FrequencyModulation.Deviation" />
				<xs:enumeration value="Frequency.FrequencyModulation.Rate" />
				<xs:enumeration value="Frequency.PhaseModulation.Rate" />
				<xs:enumeration value="Humidity.Absolute" />
				<xs:enumeration value="Impedance" />
				<xs:enumeration value="Inductance" />
				<xs:enumeration value="Length" />
				<xs:enumeration value="Length.Circumference" />
				<xs:enumeration value="Length.Diameter" />
				<xs:enumeration value="Length.Form.Flatness" />
				<xs:enumeration value="Length.Form.Parallelism" />
				<xs:enumeration value="Length.Form.Perpendicularity" />
				<xs:enumeration value="Length.Form.Roughness" />
				<xs:enumeration value="Length.Form.Roundness" />
				<xs:enumeration value="Length.Form.Sphericity" />
				<xs:enumeration value="Length.Form.Straightness.Axis" />
				<xs:enumeration value="Length.Form.Straightness.Surface" />
				<xs:enumeration value="Length.Position.Coordinate.1" />
				<xs:enumeration value="Length.Position.Coordinate.2" />
				<xs:enumeration value="Length.Position.Coordinate.3" />
				<xs:enumeration value="Length.Radius" />
				<xs:enumeration value="Mass.Apparent" />
				<xs:enumeration value="Mass.Conventional" />
				<xs:enumeration value="Mass.True" />
				<xs:enumeration value="Phase.PhaseModulation" />
				<xs:enumeration value="Phase.ReflectionFactor.RF" />
				<xs:enumeration value="Phase.TransmissionFactor" />
				<xs:enumeration value="PhaseNoise.SideBand" />
				<xs:enumeration value="Power.RF.Sinewave" />
				<xs:enumeration value="Pressure.Hydraulic.Static" />
				<xs:enumeration value="Pressure.Pneumatic.Absolute.Static" />
				<xs:enumeration value="Pressure.Pneumatic.Differential.Static" />
				<xs:enumeration value="Pressure.Pneumatic.Gage.Static" />
				<xs:enumeration value="Ratio.AmplitudeModulation" />
				<xs:enumeration value="Ratio.Density.Mass" />
				<xs:enumeration value="Ratio.Humidity.Relative" />
				<xs:enumeration value="Ratio.Humidity.Specific" />
				<xs:enumeration value="Ratio.Power.ReflectionFactor.RF" />
				<xs:enumeration value="Ratio.Power.RF.Sinewave.Delta.Frequency" />
				<xs:enumeration value="Ratio.Power.RF.Sinewave.Delta.Power" />
				<xs:enumeration value="Ratio.Power.TransmissionFactor" />
				<xs:enumeration value="Ratio.Torque" />
				<xs:enumeration value="Ratio.Voltage.AC.Ripple.OnDC" />
				<xs:enumeration value="Ratio.Voltage.AC.Sinewave.Delta.Frequency" />
				<xs:enumeration value="Ratio.Voltage.AC.Sinewave.Delta.Voltage" />
				<xs:enumeration value="Resistance" />
				<xs:enumeration value="Temperature" />
				<xs:enumeration value="Temperature.Radiometric" />
				<xs:enumeration value="Temperature.Simulated.PRT" />
				<xs:enumeration value="Temperature.Simulated.RTD" />
				<xs:enumeration value="Temperature.Simulated.Thermocouple" />
				<xs:enumeration value="Time.Transition" />
				<xs:enumeration value="Time.UTC" />
				<xs:enumeration value="Torque" />
				<xs:enumeration value="Torque.HydraulicPressure" />
				<xs:enumeration value="Voltage.AC" />
				<xs:enumeration value="Voltage.AC.Ripple.OnDC" />
				<xs:enumeration value="Voltage.AC.Sinewave" />
				<xs:enumeration value="Voltage.AC.Squarewave" />
				<xs:enumeration value="Voltage.AC.Trianglewave" />
				<xs:enumeration value="Voltage.DC" />
				<xs:enumeration value="Volume" />
				<xs:enumeration value="Weight" />
				<xs:enumeration value="miscelaneous01" />
				<xs:enumeration value="miscelaneous02" />
				<xs:enumeration value="miscelaneous03" />
				<xs:enumeration value="miscelaneous04" />
				<xs:enumeration value="miscelaneous05" />
                <xs:enumeration value="other" />  <!--the content may be specified in the column name in human readable form -->
            </xs:restriction>
    </xs:simpleType>

</xs:schema>
